<!--Table view of companies-->
<div id="thisPage">
    <table class="table table-condensed table-striped">
        <thead class="text-uppercase">
            <tr>
                <th></th>
                <th class="hidden-xs">公司名稱</th>
                <th>分公司</th>
                <th class="hidden-xs">統一編號</th>
                <th>電話</th>
                <th>傳真</th>
            </tr>
        </thead>
    <!--    <tbody data-bind="foreach: cogroups">-->
        <tbody>
            <% cogroups.forEach(function(cogroup) { %>
            <tr>
                <td style="width: 280px">
                    <div class="btn-group">
                        <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn btn-custom">訊息</a>
                        <a href="/order/new/<%= cogroup.name %>" class="btn btn-custom">新訂單</a>
                        <a href="/shipment/new/<%= cogroup.name %>" class="btn btn-custom">做出貨單</a>
                        <a href="/shipment/showall/<%= cogroup.name %>" class="btn btn-custom">做發票</a>
                    </div>
                </td>
                <td class="hidden-xs"><%= cogroup.name %><font color="#acacac">公司</font></td>
                <td>
                    <% cogroup.branches.forEach(function(branch) { %>
                        <% if (branch.fullname != '') { %>
                        <abbr title="<%= branch.fullname %>"><%= branch.name %></abbr><br>
                        <% } else { %>
                        <%= branch.name %><br>
                        <% } %>
                    <% }); %>
                </td>
                <td class="hidden-xs">
                    <% cogroup.branches.forEach(function(branch) { %>
                        <%= branch.tax_id %><br>
                    <% }); %>
                </td>
                <td>
                    <% cogroup.branches.forEach(function(branch) { %>
                        <%= branch.phone %><br>
                    <% }); %>
                </td>
                <td>
                    <% cogroup.branches.forEach(function(branch) { %>
                        <%= branch.fax %><br>
                    <% }); %>
                </td>

            </tr>
            <% }); %>
        </tbody>
    </table>
</div>