
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th></th>
        <th>公司名稱</th>
        <th>分公司</th>
        <th>統一編號</th>
        <th>電話</th>
        <th>傳真</th>
<!--        <th>辦公室地址</th>-->
    </tr></thead>
<!--    <tbody data-bind="foreach: cogroupes">-->
    <tbody>
        <% cogroups.forEach(function(cogroup) { %>
        <tr>
            <td>
                <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn-xs btn-custom">信息</a>
                <a href="/product/show/<%= cogroup.name %>" class="btn btn-xs btn-custom">產品</a>
            </td>
            <td><%= cogroup.name %><font color="#acacac">公司</font></td>
            <td>
                <% cogroup.branches.forEach(function(branch) { %>
                    <% if (branch.fullname != '') { %>
                    <abbr title="<%= branch.fullname %>"><%= branch.name %></abbr><br>
                    <% } else { %>
                    <%= branch.name %><br>
                    <% } %>
                <% }); %>
            </td>
            <td>
                <% cogroup.branches.forEach(function(branch) { %>
                    <%= branch.tax_id %><br>
                <% }); %>
            </td>
            <td>
                <% cogroup.branches.forEach(function(branch) { %>
                    <%= branch.phone %><br>
                <% }); %>
            </td>
            <td>
                <% cogroup.branches.forEach(function(branch) { %>
                    <%= branch.fax %><br>
                <% }); %>
            </td>
            <td>
<!--
                <% cogroup.branches.forEach(function(branch) { %>
                    <%= branch.address_office %><br>
                <% }); %>
-->
            </td>
            
        </tr>
        <% }); %>
    </tbody>
</table>