<!--Table views of a single company's branches, contacts and products-->

<div id="this body" class="container-fluid">
    
    
    <!--vvv START: Company header and buttons vvv-->
    <%- partial ('../company_header.ejs') %>
    <!--^^^ END: Company header and buttons ^^^-->

    <!--SHOW DELETE BUTTON IF THERE ARE NO BRANCHES-->
    <% if (cogroup.branches.length == 0) { %>
    <div class="row text-center">
        <a href="/cogroup/destroy/<%= cogroup.name %>" class="btn btn-danger btn-lg">DELETE COMPANY GROUP ID</a>
    </div>
    <% } %>



    <hr>
    <!--COMPANY BRANCHES LIST-->
    <%- partial ('../branch/panel.ejs') %>

    <hr>
    <!--CONTACTS LIST-->
    <%- partial ('../contact/panel.ejs') %>

    <hr>
    <!--PRODUCT AND SERVICES LIST-->
    <%- partial ('../product/panel.ejs') %>
    
</div>

<script>
var viewModel = viewModel || {};
console.dir(viewModel);
ko.applyBindings(viewModel, document.getElementById('this body'));
</script>