<div class='container'>
    <div class="row">
        <div class="col-md-12">
            <h1><span><%= cogroup.name %></span></h1>
            <h2>
            <a href="/cogroup/toggle_supplier/<%= cogroup.name %>" class=
        <% if (cogroup.is_supplier) { %>
                "glyphicon glyphicon-ok btn btn-success"
        <% } else { %>
            "glyphicon glyphicon-remove btn btn-danger"
        <% } %>
                > 供應商</a>
            <a href="/cogroup/toggle_customer/<%= cogroup.name %>" class=
        <% if (cogroup.is_customer) { %>
                "glyphicon glyphicon-ok btn btn-success"
        <% } else { %>
            "glyphicon glyphicon-remove btn btn-danger"
        <% } %>
                > 客戶</a>
                
                </h2>
        </div>
    </div>
	<hr>
    <h2>分公司</h2>
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th>ID (縮寫)</th>
        <th>名稱</th>
        <th>統一編號</th>
        <th>電話</th>
        <th>傳真</th>
        <th>辦公室地址</th>
        <th>備註</th>
        <th></th>
    </tr></thead>
    <tbody>
    <% cogroup.branches.forEach(function(branch) { %>
        <tr>
            <td><%= branch.name %></td>
            <td><%= branch.fullname %></td>
            <td><%= branch.tax_id %></td>
            <td><%= branch.phone %></td>
            <td><%= branch.fax %></td>
            <td><%= branch.address_office %></td>
            <td><%= branch.note %></td>
                <td><a href="/branch/edit/<%= branch.name %>" class="btn btn-xs btn-custom">Edit</a>
                </td>
        </tr>
    <% }); %>
        </tbody>
</table>
    
	<a class="btn btn-medium btn-primary" href="/branch/new/<%= cogroup.name %>">Add branch</a>
    
    <hr>
    
    <h2>聯絡人</h2>
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th>稱號</th>
        <th>姓名</th>
        <th>分公司</th>
        <th>電話</th>
        <th>傳真</th>
        <th>Email</th>
        <th>備註</th>
        <th></th>
    </tr></thead>
    <tbody>
    <% cogroup.contacts.forEach(function(contact) { %>
        
        <tr>
            <td><%= contact.position %></td>
            <td><%= contact.name %></td>
            <td><%= contact.branch %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.fax %></td>
            <td><%= contact.email %></td>
            <td><%= contact.note %></td>
                <td><a href="/contact/edit/<%= contact.id %>" class="btn btn-xs btn-custom">Edit</a>
                </td>
        </tr>
    <% }); %>
        </tbody>
</table>
	
	<a class="btn btn-medium btn-primary" href="/contact/new/<%= cogroup.name %>">Add contact</a>
	
</div>