<!--Table views of a single company's branches, contacts and products-->

<div class='container-fluid'>
    
    
    <div class="row text-center">
        <div class="col-md-4 h1 text-center">
            <div class="row">
            <strong><%= cogroup.name %></strong><font color="lightgrey">(公司)</font>
            </div>
            <div class="row">
                <form action="/cogroup/toggle" method="post"><input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="cogroup" value="<%= cogroup.name %>">
                    <input type="hidden" name="back" value="/cogroup/show/<%= cogroup.name %>">
                    <div class="btn-group">
                    <button type="submit" name="toggle" value="supplier" class=
                                    <% if (cogroup.is_supplier) { %>
                                    "glyphicon glyphicon-ok btn btn-success"
                                    <% } else { %>
                                    "glyphicon glyphicon-remove btn btn-danger"
                                    <% } %>
                        > 供應商</button>
                    <button type="submit" name="toggle" value="customer" class=
                                    <% if (cogroup.is_customer) { %>
                                    "glyphicon glyphicon-ok btn btn-success"
                                    <% } else { %>
                                    "glyphicon glyphicon-remove btn btn-danger"
                                    <% } %>
                        > 客戶</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="btn-group-vertical">
                <a disabled href="/cogroup/show/<%= cogroup.name %>" class="active btn btn-custom"><i class="glyphicon glyphicon-info-sign"></i> <strong>公司,聯絡人,產品訊息</strong></a>
                <a href="/product/show/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-pencil"></i> <strong>管理使用中訂單,創造出貨單</strong></a>
                <a href="/order/showall/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-folder-open"></i> <strong>全部訂單歷史</strong></a>
            </div>
        </div>
    </div>
        
<!--SHOW DELETE BUTTON IF THERE ARE NO BRANCHES-->
   <% if (cogroup.branches.length == 0) { %>
    <div class="row text-center">
        <a href="/cogroup/destroy/<%= cogroup.name %>" class="btn btn-danger btn-lg">DELETE COMPANY GROUP ID</a>
    </div>
    <% } %>
    
    
    
	<hr>
<!--COMPANY BRANCHES LIST-->
    
    
    <h2>分公司</h2>
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th>縮寫</th>
        <th>名稱</th>
        <th>統一編號</th>
        <th>電話</th>
        <th>傳真</th>
        <th>辦公室地址</th>
        <th>備註</th>
        <th></th>
    </tr></thead>
    <tbody>
    <% cogroup.branches.forEach(function(branch) { %>
        <tr>
            <td><%= branch.name %></td>
            <td><%= branch.fullname %></td>
            <td><%= branch.tax_id %></td>
            <td><%= branch.phone %></td>
            <td><%= branch.fax %></td>
            <td><%= branch.address_office %></td>
            <td><%= branch.note %></td>
                <td><a href="/branch/edit/<%= branch.name %>" class="btn btn-xs btn-custom">Edit</a>
                </td>
        </tr>
    <% }); %>
        </tbody>
</table>
    
    
	<a class="btn btn-medium btn-primary" href="/branch/new/<%= cogroup.name %>">Add branch</a>
    
    
    
    <hr>
<!--CONTACTS LIST-->
    
    
    <h2>聯絡人</h2>
	<% if (cogroup.branches.length > 0) { %>
    <table class="table table-condensed">
        <thead class="text-uppercase">
            <tr>
                <th>分公司</th>
                <th>職位</th>
                <th>姓名</th>
                <th>電話</th>
                <th>傳真</th>
                <th>Email</th>
                <th>備註</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: contacts">
            <tr>
                <td><select data-bind="options: branchOptions, value: branch"></select></td>
                <td><input size="5" placeholder="position" data-bind="value: position"></td>
                <td><input size="4" placeholder="name" data-bind="value: name"></td>
<!--                <td><input data-bind="value: branch"></td>-->
                <td style="width: 20%"><input placeholder="phone" style="width: 100%;" data-bind="value: phone"></td>
                <td style="width: 20%"><input placeholder="fax" style="width: 100%;" data-bind="value: fax"></td>
                <td style="width: 20%"><input placeholder="email" style="width: 100%;" data-bind="value: email"></td>
                <td style="width: 25%"><input placeholder="note" style="width: 100%;" data-bind="value: note"></td>
                <td>
                    <button class="btn btn-xs btn-danger" data-bind="click: $parent.removeContact">刪除</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    
    <button class="btn btn-medium btn-primary" data-bind="click: addContact">Add contact</button>
    <button class="btn btn-medium btn-primary" data-bind="click: saveContacts"><span data-bind="text: saveMessage"></span></button>
<!--	<a class="btn btn-medium btn-primary" href="/contact/new/<%= cogroup.name %>">Add contact</a>-->
    <% } else { %>
    <h3><span class="label label-primary">先添加一家分公司</span></h3>
    <% } %>
    
    
    
    <hr>
<!--PRODUCT AND SERVICES LIST-->
    
    
    <h2>產品/服務</h2>
    
    <form action="/order/new">
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th></th>
        <th>選</th>
        <th>內用品名</th>
        <th>標籤品名</th>
        <th><abbr title="桶, 包, 瓶, 等...">容器</abbr></th>
        <th><abbr title="# of kg, L, gal per container">容量</abbr></th>
        <th><abbr title="kg, L, gal, etc.">單位</abbr></th>
<!--        <th><abbr title="Price by container or volume?">價格單位</abbr></th>-->
        <th>包裝描述</th>
        <th>備註</th>
        <th>編輯</th>
        <th>順序</th>
    </tr></thead>
    <tbody>
    <% products.forEach(function(product) { %>
        <tr>
            <td>
                <span class="badge">
                <% if (product.is_supply === true) { %>
                <abbr title="買:We buy"><span class="glyphicon glyphicon-arrow-right"></span></abbr>
                    <% } else { %>
                    <span class="glyphicon glyphicon-none"></span>
                    <% } %>
                <% if (product.discontinued === false) { %>
                    <span class="glyphicon glyphicon-home"></span>
                    <% } else { %>
                    <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                    <% } %>
                <% if (product.is_supply === false) { %>
                <abbr title="賣:We sell"><span class="glyphicon glyphicon-arrow-right"></span></abbr>
                    <% } else { %>
                    <span class="glyphicon glyphicon-none"></span>
                    <% } %>
                    </span>
            </td>
            
<!--        Product Manifest selection    -->
            <td>
                
                
                <% if (product.discontinued === true) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } else { %>
                <input type="checkbox" name="product" value="<%= product.MPN %>">
                <% } %>
            </td>
            
            
<!--        Product inventory name    -->
            <td>
                <font color=<% if (product.product_label != "") { %>
                "grey"
                <% } else { %>
                "black"
                <% } %>>
                <% if (product.MPN != "") { %>
                    <abbr title="<%= product.MPN %>"><%= product.inventory_name %></abbr>
                <% } else { %>
                    <%= product.inventory_name %>
                <% } %>
            </font>
                
                <% if (product.discontinued === true) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } %>
                
                <% if (product.orders.length > 0) { %>
                <a href="/order/show/<%- product.orders[0].id %>" class="btn btn-xs btn-custom">使用中PO</a>
                <% } %>
            </td>
            <td><%= product.product_label %></td>
            <td><%= product.SKU %><% if (product.unitpriced === false) { %>
                <span class="badge"><abbr title="Priced by container" class="glyphicon glyphicon-usd"></abbr></span>
                <% } %></td>
            <td class="text-right"><%= product.units %></td>
            <td><%= product.UM %><% if (product.unitpriced === true) { %>
                <span class="badge"><abbr title="Priced by unit" class="glyphicon glyphicon-usd"></abbr></span>
                <% } %></td>
            <td><%= product.SKUlong %></td>
            <td><%= product.note %></td>
            
            
                <td>
                    <a href="/product/edit/<%- product.MPN.split('%').join('-percent-') %>" class="btn btn-xs btn-custom">編輯</a>
                </td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a href="/product/up/<%= product.MPN %>?cogroup=<%= cogroup.name %>" class="btn btn-xs btn-custom"><i class="glyphicon glyphicon-triangle-top"></i></a>
                    <a href="/product/down/<%= product.MPN %>?cogroup=<%= cogroup.name %>" class="btn btn-xs btn-custom"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                </div>
            </td>
        </tr>
    <% }); %>
        </tbody>
</table>
    
    
    <input type="hidden" name="backlink" value="/cogroup/show/<%= cogroup.name %>" />
	<a class="btn btn-medium btn-primary" href="/product/new/<%= cogroup.name %>">Add product</a>
	<a id="CreatePO"></a><input type="submit" class="btn btn-medium btn-primary" name="make_po" value="Create PO">
	<input type="submit" class="btn btn-medium btn-primary" name="make_shipment" value="Create Shipment Without PO">
    
    </form>
    
	
</div>

<script>
var co_name = '<%= cogroup.name %>';
var db_contacts = <%- JSON.stringify(cogroup.contacts) %>;
var db_branches = <%- JSON.stringify(cogroup.branches) %>;
var _csrf = '<%= _csrf %>';

function KO_Contact(data) {
    var self = this,
        data = data || {};
    
    self.id = ko.observable(data.id || null);
    self.group = ko.observable(data.group || '<%= cogroup.name %>');
    self.branch = ko.observable(data.branch || '');
    self.name = ko.observable(data.name || '');
    self.position = ko.observable(data.position || '');
    self.phone = ko.observable(data.phone || '');
    self.fax = ko.observable(data.fax || '');
    self.email = ko.observable(data.email || '');
    self.note = ko.observable(data.note || '');
    
    self.delete = false;
    
    // Branch name options for select list.
    self.branchOptions = [];
    for (var branch in db_branches) {
        self.branchOptions.push(db_branches[branch].name);
    }
    
//    self.debug = ko.computed( function() {
//        console.log(self.name(), self);
//    });
}

function PageModel() {
    var self = this;
    
    self.saveMessage = ko.observable('Save');
    
    self.contacts = ko.observableArray();
    self.deleteIDs = ko.observableArray();
    self.addContact = function() {
        self.contacts.push(new KO_Contact());
    };
    self.removeContact = function(contact) {
        if (contact.id !== null) {
            self.deleteIDs.push(contact.id);
        }
        self.contacts.remove(contact);
    };
    
    self.saveContacts = function() {
        // Temporarily change save button message and prevent multiple clicks.
        if (self.saveMessage() === 'Save') {
            self.saveMessage('Please wait ...');   
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                    self.getContacts();
                    setTimeout(function(){
                        // Reset save button message.
                        self.saveMessage('Save');
                    }, 500);
                }
            };
            xmlhttp.open('POST', '/contact/merge', true);
            xmlhttp.setRequestHeader('Content-type', 'application/json');
            xmlhttp.send(ko.toJSON({
                _csrf: _csrf, 
                id: co_name, 
                contactList: self.contacts,
                deleteIDs: self.deleteIDs,
            }));
        }
        
//        
    };
    
    self.getContacts = function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState !== 4) return;
            
            var db_contacts = JSON.parse(xmlhttp.response);
            
            self.contacts.removeAll();
            for (var i=0; i<db_contacts.length; i++) {
                self.contacts.push(new KO_Contact(db_contacts[i]));
            }
        };
        xmlhttp.open('POST', '/contact/contactList', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            id: co_name
        }));
    };
    
    self.getContacts();
}

ko.applyBindings(new PageModel());
</script>