<!--Table views of a single company's branches, contacts and products-->

<div id="thisPage" class="container-fluid">
    
    
<!--vvv START: Company header and buttons vvv-->
    <div class="row text-center">
        <div class="col-md-4 h2 text-center" style="margin: 0px; padding: 0px 0px">
            <div class="row">
                <strong data-bind="text: co_name"></strong>
                <font color="lightgrey">(公司)</font>
            </div>
            <div class="row">
                <form action="/cogroup/toggle" method="post"><input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="cogroup" value="<%= cogroup.name %>">
                    <input type="hidden" name="back" value="/cogroup/show/<%= cogroup.name %>">
                    <div class="btn-group">
                        <button data-bind="click: cogroup.toggleSupplier, attr: {'class': cogroup.supplierStatus}"> 供應商</button>
                        <button data-bind="click: cogroup.toggleCustomer, attr: {'class': cogroup.customerStatus}"> 客戶</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8" style="margin: 0px; padding: 0px 5px">
            <div>
                <div class="btn-group btn-group-justified hidden-xs">
                    <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-info-sign"></i> <strong>公司與產品訊息</strong></a>
                    <a href="/order/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-pencil"></i> <strong>創造一個訂單</strong></a>
                    <a href="/order/showall/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-folder-open"></i> <strong>管理訂單與到期日</strong></a>
                </div>
                <div class="btn-group btn-group-justified hidden-xs">
                    <a href="/shipment/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-shopping-cart"></i> <strong>創造出貨單</strong></a>
                    <a href="/invoice/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-usd"></i> <strong>創造發票</strong></a>
                    <a href="/shipment/showall/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-piggy-bank"></i> <strong>管理出貨單與發票</strong></a>
                </div>
            </div>
        </div>
    </div>
<!--^^^ END: Company header and buttons ^^^-->
        
<!--SHOW DELETE BUTTON IF THERE ARE NO BRANCHES-->
   <% if (cogroup.branches.length == 0) { %>
    <div class="row text-center">
        <a href="/cogroup/destroy/<%= cogroup.name %>" class="btn btn-danger btn-lg">DELETE COMPANY GROUP ID</a>
    </div>
    <% } %>
    
    
    
	<hr>
<!--COMPANY BRANCHES LIST-->
    
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                <h2><strong>分公司</strong></h2>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px">
<table class="table table-condensed table-striped">
    <thead class="text-uppercase">
        <tr>
            <th>縮寫</th>
            <th>名稱 / 統一編號</th>
            <th>電話 / 傳真</th>
            <th>地址 (辦公室 / 運輸 / 發票)</th>
            <th>備註</th>
            <th>修改</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: branches">
        <tr>
            <td style="width: 8%">
                <label style="width: 100%;" data-bind="text: name, visible: nameLock()"></label>
                <input size="4" placeholder="簡寫" data-bind="value: name, visible: !nameLock()">
            </td>
            <td style="width: 20%">
                <input size="6" maxlength="8" placeholder="tax id" data-bind="value: tax_id">
                <br>
                <input placeholder="full name" style="width: 100%;" data-bind="textInput: fullname">
                <br>
                <input placeholder="english name" style="width: 100%;" data-bind="textInput: english_name">
            </td>
            <td style="width: 20%">
                <input placeholder="phone" style="width: 100%;" data-bind="textInput: phone">
                <br>
                <input placeholder="fax" style="width: 100%;" data-bind="textInput: fax">
            </td>
            <td style="width: 30%">
                <input placeholder="office address" style="width: 100%;" data-bind="textInput: address_office">
                <br>
                <input placeholder="shipping address" style="width: 100%;" data-bind="textInput: address_shipping">
                <br>
                <input placeholder="billing address" style="width: 100%;" data-bind="textInput: address_billing">
            </td>
            <td style="width: 22%">
                <textarea rows="3" placeholder="note" style="width: 100%;" data-bind="textInput: note"></textarea>
            </td>
            <td>
                <div class="btn-group-vertical btn-group-sm">
                <button class="btn btn-primary" data-bind="click: $parent.saveBranch, disable: saved">保留</button>
                <button class="btn btn-danger" data-bind="click: $parent.removeBranch, enable: saved">刪除</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
    
        </div>
        <div class="panel-footer lightorange-blend text-center">
            <button class="btn btn-lg darkgreen-blend" data-bind="click: addBranch">Add branch</button>
        </div>
    </div>
    
    
    <hr>
<!--CONTACTS LIST-->
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                <h2><strong>聯絡人</strong></h2>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px">
<table class="table table-condensed table-striped">
    <thead class="text-uppercase">
        <tr>
            <th>分公司</th>
            <th>職位</th>
            <th>姓名</th>
            <th>電話</th>
            <th>傳真</th>
            <th>Email</th>
            <th>備註</th>
            <th>修改</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: contacts">
        <tr>
            <td><select data-bind="options: $root.branchOptions, textInput: branch"></select></td>
            <td><input size="5" placeholder="position" data-bind="textInput: position"></td>
            <td><input size="4" placeholder="name" data-bind="textInput: name"></td>
            <td style="width: 20%"><input placeholder="phone" style="width: 100%;" data-bind="textInput: phone"></td>
            <td style="width: 20%"><input placeholder="fax" style="width: 100%;" data-bind="textInput: fax"></td>
            <td style="width: 20%"><input placeholder="email" style="width: 100%;" data-bind="textInput: email"></td>
            <td style="width: 25%"><input placeholder="note" style="width: 100%;" data-bind="textInput: note"></td>
            <td>
                <div class="btn-group-vertical">
                <button class="btn btn-xs btn-primary" data-bind="click: $parent.saveContact, disable: saved">保留</button>
                <button class="btn btn-xs btn-danger" data-bind="click: $parent.removeContact, enable: saved">刪除</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
        </div>
        <div class="panel-footer lightorange-blend text-center">
            <button class="btn btn-lg darkgreen-blend" data-bind="click: addContact">Add contact</button>
        </div>
    </div>
    

    
    
    
    <hr>
<!--PRODUCT AND SERVICES LIST-->
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                <h2><strong>產品 / 服務</strong></h2>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px">
<table class="table table-condensed table-striped">
    <thead class="text-uppercase">
        <tr>
            <th>順序</th>
            <th>品名 (內用 / 客戶用)</th>
            <th class="text-center">
                <abbr title="# of kg, L, gal per container">容量</abbr> - 
                <abbr title="kg, L, gal, etc.">單位</abbr> / 
                <abbr title="桶, 包, 瓶, 等...">容器</abbr>
            </th>
            <th>英文品名 / 包裝描述</th>
    <!--        <th><abbr title="Price by container or volume?">價格單位</abbr></th>-->
            <th>備註</th>
            <th>用不用</th>
            <th>修改</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: products">
        <tr data-bind="style: {'background-color': discontinued() ? 'pink' : null}">
            <td style="width: 5%">
                <div class="btn-group-vertical btn-group-sm" data-bind="visible: locked()">
                    <button class="btn btn-custom" data-bind="click: $parent.productUpOne"><i class="glyphicon glyphicon-triangle-top"></i></button>
                    <button class="btn btn-custom" data-bind="click: $parent.productDownOne"><i class="glyphicon glyphicon-triangle-bottom"></i></button>
                </div>
            </td>
            
            
<!--        Product inventory name    -->
            <td style="width: 18%">
                <input placeholder="內用" style="width: 100%;" data-bind="textInput: inventory_name">
                <input placeholder="標籤(選修的)" style="width: 100%;" data-bind="textInput: product_label">
            </td>
            <td class="text-center">
                <span data-bind="text: units, visible: locked()"></span>
                <input size="2" placeholder="#" data-bind="textInput: units, visible: !locked()">
                <span data-bind="text: UM, visible: locked()"></span>
                <input size="3" placeholder="kg, L, ..." data-bind="textInput: UM, visible: !locked()">
                / <span data-bind="text: SKU, visible: locked()"></span>
                <input size="4" placeholder="槽車,桶,包,..." data-bind="textInput: SKU, visible: !locked()">
                <br>
                <span data-bind="visible: unitpriced()">1 <span data-bind="text: UM"></span> = <span class="glyphicon glyphicon-usd"></span></span>
                <span data-bind="visible: !unitpriced()">1 <span data-bind="text: SKU"></span> = <span class="glyphicon glyphicon-usd"></span></span>
                <input size="4" placeholder="目前價格" data-bind="textInput: curr_price">
                <div data-bind="visible: !locked()">
                    <label><input type="radio" name="b" data-bind="checked: unitpriced, checkedValue: true">用<strong data-bind="text: UM"></strong>價格</label>
                    <label><input type="radio" name="b" data-bind="checked: unitpriced, checkedValue: false">用<strong data-bind="text: SKU"></strong>價格</label>
                </div>
                <div data-bind="visible: !locked()">
                    <label><input type="radio" name="c" data-bind="checked: unitcounted, checkedValue: true">用<strong data-bind="text: UM"></strong>件數</label>
                    <label><input type="radio" name="c" data-bind="checked: unitcounted, checkedValue: false">用<strong data-bind="text: SKU"></strong>件數</label>
                </div>
            </td>
            <td style="width: 20%">
                <input placeholder="英文品名" style="width: 100%;" data-bind="textInput: english_name">
                <input placeholder="包裝描述" style="width: 100%;" data-bind="textInput: SKUlong">
            </td>
            <td style="width: 25%">
                <input placeholder="note" style="width: 100%;" data-bind="textInput: note">
                <input placeholder="PN (ASE)" style="width: 49%;" data-bind="textInput: ASE_PN">
                <input placeholder="RT (ASE)" style="width: 49%;" data-bind="textInput: ASE_RT">
            </td>
            
<!--        Product Manifest Availability    -->
            <td style="width: 5%">
                <button class="btn btn-custom btn-lg" data-bind="click: $parent.toggleActive, html: toggleMessage, visible: locked()"></button>
                <div data-bind="visible: !locked()">
                    <label><input type="radio" name="a" data-bind="checked: is_supply, checkedValue: true">進貨</label>
                    <label><input type="radio" name="a" data-bind="checked: is_supply, checkedValue: false">出貨</label>
                </div>
            </td>
            
            <td>
                <div class="btn-group-vertical btn-group-sm">
                <button class="btn btn-primary" data-bind="click: $parent.saveProduct, disable: saved">保留</button>
                <button class="btn btn-danger" data-bind="click: $parent.removeProduct, enable: saved">刪除</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
        </div>
        <div class="panel-footer lightorange-blend text-center">
            <button class="btn btn-lg darkgreen-blend" data-bind="enable: productsAllSaved(), click: addProduct">Add product</button>
        </div>
    </div>
</div>

<script>
var cogroup = new KO_Cogroup(<%- JSON.stringify(cogroup) %>);
var co_name = '<%= cogroup.name %>';
addCompanyNavButtons(co_name);
var _csrf = '<%= _csrf %>';
                             
    
function PageModel() {
    var self = this;
    
    // Branch name options for select list.
    self.branchOptions = ko.observableArray();
    
    
    
    /**
     * BRANCH section controls
     * 
     * 
     */
    self.branches = ko.observableArray();
    self.addBranch = function() {
        var newBranch = new KO_Branch();
        newBranch.group(co_name);
        newBranch.nameLock(false);
        newBranch.saved(false);
        self.branches.push(newBranch);
    };
    self.removeBranch = function(branch) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                var response = JSON.parse(xmlhttp.response);
                console.log(typeof response, response);
                if (response.status !== 400 && response.group === co_name) {
                    branch.name(null);
                    branch.saved(false);
                    self.branches.remove(branch);
                } else {
                    alert(JSON.stringify(response, null, '  '));
                }
            }
        };
        xmlhttp.open('POST', '/branch/destroy', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            co_name: co_name, 
            name: branch.name
        }));
    };
    
    self.saveBranch = function(branch) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                var response = JSON.parse(xmlhttp.response);
                console.log(typeof response, response);
                if (response.status !== 400 && response.group === co_name) {
                    branch.name(response.name);
                    branch.saved(true);
                    branch.nameLock(true);
                } else {
                    alert(JSON.stringify(response, null, '  '));
                }
            }
        };
        xmlhttp.open('POST', '/branch/updateOrCreate', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            co_name: co_name, 
            branch: branch
        }));
    };
    
    self.getBranches = function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState !== 4) return;
            
            var db_branches = JSON.parse(xmlhttp.response);
            
            self.branches.removeAll();
            self.branchOptions.removeAll();
            for (var i=0; i<db_branches.length; i++) {
                self.branches.push(new KO_Branch(db_branches[i]));
                self.branchOptions.push(db_branches[i].name);
            }
            // Refresh Contacts so that the correct branch is set.
            self.getContacts();
        };
        xmlhttp.open('POST', '/database/get/branches', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            id: co_name
        }));
    };
    
    
    self.getBranches();
    
    
    
    
    
    /**
     * CONTACT section controls
     * 
     * 
     */
    // Save button text
    self.contacts = ko.observableArray();
    self.addContact = function() {
        var newContact = new KO_Contact();
        newContact.group(co_name);
        self.contacts.push(newContact);
    };
    self.removeContact = function(contact) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                var response = JSON.parse(xmlhttp.response);
                console.log(typeof response, response);
                if (response.status !== 400 && response.group === co_name) {
                    contact.id(null);
                    contact.saved(false);
                    // Optionally remove contact from view.
//                    self.contacts.remove(contact);
                } else {
                    alert(JSON.stringify(response, null, '  '));
                }
            }
        };
        xmlhttp.open('POST', '/contact/destroy', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            co_name: co_name, 
            id: contact.id
        }));
    };
    
    self.saveContact = function(contact) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                var response = JSON.parse(xmlhttp.response);
                console.log(typeof response, response);
                if (response.status !== 400 && response.group === co_name) {
                    contact.id(response.id);
                    contact.saved(true);
                } else {
                    alert(JSON.stringify(response, null, '  '));
                }
            }
        };
        xmlhttp.open('POST', '/contact/updateOrCreate', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            co_name: co_name, 
            contact: contact
        }));
    };
    
    self.getContacts = function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState !== 4) return;
            
            var db_contacts = JSON.parse(xmlhttp.response);
            
            self.contacts.removeAll();
            for (var i=0; i<db_contacts.length; i++) {
                self.contacts.push(new KO_Contact(db_contacts[i]));
            }
        };
        xmlhttp.open('POST', '/database/get/contacts', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            id: co_name
        }));
    };
    
    self.getContacts();
    
    
    
    /**
     * PRODUCT section controls
     * 
     * 
     */
    self.products = ko.observableArray();
    self.productsAllSaved = ko.computed(function () {
        for (var i=0; i<self.products().length; i++) {
            if (self.products()[i].saved() === false) return false;
        }
        return true;
    });
    self.toggleActive = function(product) {
        product.discontinued(!product.discontinued());
        
        var index = self.products().indexOf(product);
        self.productsUpdate(self.products.slice(index, index+1));
    }
    self.addProduct = function() {
        var newProduct = new KO_Product();
        newProduct.group(co_name);
        newProduct.locked(false);
        newProduct.saved(false);
        newProduct.json().rank = self.products().length; // Set as last item.
        self.products.push(newProduct);
    };
    self.removeProduct= function(product) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                var response = JSON.parse(xmlhttp.response);
                console.log(typeof response, response);
                if (response.status !== 400 && response.group === co_name) {
                    product.MPN(null);
                    product.saved(false);
                    self.products.remove(product);
                } else {
                    alert(JSON.stringify(response, null, '  '));
                }
            }
        };
        xmlhttp.open('POST', '/product/destroy', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            co_name: co_name, 
            MPN: product.MPN
        }));
    };
    
    self.saveProduct = function(product) {
        console.log('SAVEPRODUCT', co_name, ko.toJSON(product));
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                var response = JSON.parse(xmlhttp.response);
                console.log(typeof response, response);
                if (response.status !== 400 && response.group === co_name) {
                    product.MPN(response.MPN);
                    product.saved(true);
                    product.locked(true);
                } else {
                    alert(JSON.stringify(response, null, '  '));
                }
            }
        };
        xmlhttp.open('POST', '/product/updateOrCreate', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            co_name: co_name, 
            product: product
        }));
    };
    
    self.productsGet = function () {
        params = {
            _csrf: _csrf, 
            id: co_name,
        };
        callback = function (products) {
            self.products.removeAll();
            for (var i=0; i<products.length; i++) {
                self.products.push(new KO_Product(products[i]));
            }
        };
        getProducts(params, callback);
    };
    
    self.productsGet();
    
    // Sort products by rank value (in json data).
    self.productsSort = function () {
        self.products.sort(function (a, b) {
            return a.json().rank - b.json().rank;
        });
    }
    
    self.productUpOne = function (prod) {
        var index = self.products().indexOf(prod);
        if (index > 0) {
            var temp = self.products()[index].json().rank;
            self.products()[index].json().rank = self.products()[index-1].json().rank;
            self.products()[index-1].json().rank = temp;
        }
        self.productsSort();
        self.productsUpdate(self.products.slice(index-1, index+1));
    };
    self.productDownOne = function (prod) {
        var index = self.products().indexOf(prod);
        if (index < self.products().length-1) {
            var temp = self.products()[index].json().rank;
            self.products()[index].json().rank = self.products()[index+1].json().rank;
            self.products()[index+1].json().rank = temp;
        }
        self.productsSort();
        self.productsUpdate(self.products.slice(index, index+2));
    };
    
    self.productsUpdate = function (prods) {
        // Verify product rank numbers and update all products if incorrect.
        for (var i=0; i<self.products().length; i++) {
            if (self.products()[i].json().rank !== i) {
                prods = self.products;
                self.products()[i].json().rank = i;
            }
        }
        
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState !== 4) return;
            
        };
        xmlhttp.open('POST', '/product/merge', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            id: co_name,
            products: prods
        }));
    };
}

ko.applyBindings(new PageModel(), document.getElementById('thisPage'));
</script>