<div class="row" style="text-align: center">
    <form action="/contact/update" method="post" class="branch-edit">
        <h2>Edit Contact Information - <%= contact.name %> (ID=<%= contact.id %>)</h2>

        <input type="hidden" name="id" value="<%= contact.id %>" />
        <input type="hidden" name="group" value="<%= contact.group %>" />

        <input type="text" class="form-control" placeholder="name" name="name" value="<%= contact.name %>" />
        
        <input type="hidden" class="form-control" placeholder="branch" name="branch" value="<%= contact.branch %>" />
        
        <input type="text" class="form-control" placeholder="position" name="position" value="<%= contact.position %>" />
        <input type="text" class="form-control" placeholder="phone" name="phone" value="<%= contact.phone %>" />
        <input type="text" class="form-control" placeholder="fax" name="fax" value="<%= contact.fax %>" />
        <input type="text" class="form-control" placeholder="email" name="email" value="<%= contact.email %>" />
        <input type="text" class="form-control" placeholder="note" name="note" value="<%= contact.note %>" />

        <br>
        
        <% var flash=req.flash( 'message'); %>
        <% if(flash.length) { %>
            <p class="bg-success">
                <%- flash %>
            </p>
            <br>
        <% } %>

<div class="row vcenter"><div class="col-md-6">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="UPDATE" />
    </div>
    <div class="col-md-6">
        
        <input type="delete" class="btn btn-lg btn-danger btn-block" value="DELETE" onclick="javascript:window.location='../destroy/<%= contact.id %>'" />
    </div></div>
        
        
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
<br>

        <input type="cancel" class="btn btn-lg btn-warning btn-block" value="EXIT" onclick="javascript:window.location='../../cogroup/show/<%= contact.group %>'" />
    </form>
</div>