<div class="row" style="text-align: center">
    <form action="/contact/create" method="post" id="sign-up-form" class="form-signin">
    <h2>Add a contact to <%= cogroup.name %></h2>

    <input type="text" class="form-control" placeholder="name" name="name">
        <% cogroup.branches.forEach(function(branch) { %>
<label class="radio-inline btn btn-primary">
  <input type="radio" name="branch" id="<%= branch.name %>" value="<%= branch.name %>" checked> <%= branch.name %>
</label>
        <% }); %>
        <br><br>
    <input type="text" class="form-control" placeholder="position" name="position">
    <input type="text" class="form-control" placeholder="phone" name="phone">
    <input type="text" class="form-control" placeholder="fax" name="fax">
    <input type="text" class="form-control" placeholder="email" name="email">
    <input type="text" class="form-control" placeholder="note" name="note">

    <br>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="CREATE" />
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <input type="hidden" name="group" value="<%= cogroup.name %>" />

        
    <input type="cancel" class="btn btn-lg btn-danger btn-block" value="CANCEL" onclick="javascript:window.location='../../cogroup/show/<%= cogroup.name %>'"/>
</form>
</div>
