<div class="container-fluid" data-bind="with: SidebarVM">
    <div class="row" style="padding: 4px;">
        <div class="col-md-3" style="padding: 0px">
        <!--TODO: Logo button toggle minify/maximize sidebar-->
            <a class="navbar-brand" style="padding: 0px" href="/">
                <img alt="taimau_logo" src="/images/taimau_symbol_h360_raised.png" height="43">
            </a>
        </div>
        <div class="col-md-6 text-center hidden-sm hidden-xs" style="padding: 4px">
        <div style="font-size: 22px" data-bind="visible: user, text: user"></div>
        </div>
        <div class="col-md-3 text-right" style="padding: 4px">
        <button type="button" class="btn btn-custom btn-lg" style="padding: 6px 3px"
              data-bind="visible: user, click: log_out">登出</button>
        </div>
        <div class="input-group hidden-sm hidden-xs">
            <input type="text" class="form-control" style="width: 50%"
                   placeholder="名稱"
                   data-bind="visible: !user(), value: user_name">

            <input type="password" class="form-control" style="width: 50%"
                   placeholder="密碼"
                   data-bind="visible: !user(), value: user_password">
        </div>
        <button type="button" style="margin-top: 2px; padding: 1px"
                class="btn btn-custom form-control"
                data-bind="visible: !user(), click: log_in">
            登入
        </button>
    </div>

    <hr>

    <div class="row">
        <a href="/cogroup" role="button" class="btn sharp btn-success btn-block">
            <i class="fa fa-fw fa-book fa-lg"></i>&nbsp;
            <strong class="hidden-sm hidden-xs h4">企業名錄</strong>
        </a>
    </div>
    <div class="row">
        <a href="/cogroup/index/suppliers" role="button" class="btn sharp btn-success btn-block">
            <i class="fa fa-fw fa-lg fa-ambulance"></i>&nbsp;
            <strong class="hidden-sm hidden-xs h4">供應企業</strong>
        </a>
    </div>
    <div class="row">
        <a href="/cogroup/index/customers" role="button" class="btn sharp btn-success btn-block">
            <i class="fa fa-fw fa-lg fa-users"></i>&nbsp;
            <strong class="hidden-sm hidden-xs h4">客戶企業</strong>
        </a>
    </div>
    <div class="row">
        <a href="/product" role="button" class="btn sharp btn-success btn-block">
            <i class="fa fa-fw fa-cubes fa-lg"></i>&nbsp;
            <strong class="hidden-sm hidden-xs h4">產品名錄</strong>
        </a>
    </div>
    <div class="row">
        <a href="/order/status" role="button" class="btn sharp btn-success btn-block">
            <i class="fa fa-fw fa-calendar-check-o fa-lg"></i>&nbsp;
            <strong class="hidden-sm hidden-xs h4">單據狀態</strong>
        </a>
    </div>
    <div class="row">
        <a href="/analysis" class="btn sharp btn-success btn-block">
            <i class="fa fa-fw fa-line-chart fa-lg"></i>&nbsp;
            <strong class="hidden-sm hidden-xs h4">買賣趨勢</strong>
        </a>
    </div>

    <hr>



    <% if (res.locals.cogroup) { %>
        <!--Company group name-->
        <div class="row text-center h2">
            <strong>
                <strong data-bind="text: company_id"></strong>
            </strong>
        </div>

        <div class="row"
             title="編輯公司,分公司
編輯聯絡人訊息"
             data-toggle="tooltip" data-placement="top">
            <a href="/cogroup/show/<%= cogroup.name %>" class="btn sharp btn-custom btn-block">
                <i class="fa fa-fw fa-info-circle fa-lg"></i>&nbsp;
                <strong class="hidden-sm hidden-xs h4">公司訊息</strong>
            </a>
        </div>

        <div class="row"
             title="無訂單做出貨單
編輯產品訊息"
             data-toggle="tooltip" data-placement="top">
            <a href="/product?co=<%= cogroup.name %>" class="btn sharp btn-custom btn-block">
                <i class="fa fa-fw fa-flask fa-lg"></i>&nbsp;
                <strong class="hidden-sm hidden-xs h4">產品管理</strong>
            </a>
        </div>

        <div class="row"
             title="用訂單做出貨單
編輯訂單訊息"
             data-toggle="tooltip" data-placement="top">
            <a href="/order?co=<%= cogroup.name %>" class="btn sharp btn-custom btn-block">
                <i class="fa fa-fw fa-file-powerpoint-o fa-lg"></i>&nbsp;
                <strong class="hidden-sm hidden-xs h4">訂單管理</strong>
            </a>
        </div>

        <div class="row">
            <a href="/shipment/showall/<%= cogroup.name %>" class="btn sharp btn-custom btn-block">
                <i class="fa fa-fw fa-list fa-lg"></i>&nbsp;
                <strong class="hidden-sm hidden-xs h4">出貨紀錄</strong>
            </a>
        </div>

        <div class="row">
            <a href="/report/index/<%= cogroup.name %>" class="btn sharp btn-custom btn-block">
                <i class="fa fa-fw fa-pie-chart fa-lg"></i>&nbsp;
                <strong class="hidden-sm hidden-xs h4">創造報告</strong>
            </a>
        </div>


        <div class="hidden-sm hidden-xs">
            <hr>
            <div data-bind="visible: branchesArray().length > 1">
                <div class="row text-center h2">
                    <strong>
                        <strong>分公司</strong>
                    </strong>
                </div>

                <div class="row text-center">
                    <div class="btn-group" data-bind="foreach: branchesArray">
                        <button type="button" class="btn btn-custom" data-bind="click: $parent.showBranch, disable: name == $parent.branchname()">
                            <strong data-bind="text: name"></strong>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row" data-bind="visible: fullname">
                <div class="col-md-3">
                    <strong>Name:</strong>
                </div>
                <div class="col-md-9">
                    <span data-bind="text: fullname"></span>
                </div>
            </div>

            <div class="row" data-bind="visible: tax_id">
                <div class="col-md-3">
                    <strong>TaxID:</strong>
                </div>
                <div class="col-md-9">
                    <span data-bind="text: tax_id"></span>
                </div>
            </div>

            <div class="row" data-bind="visible: phone">
                <div class="col-md-3">
                    <strong>Phone:</strong>
                </div>
                <div class="col-md-9">
                    <span data-bind="text: phone"></span>
                </div>
            </div>

            <div class="row" data-bind="visible: fax">
                <div class="col-md-3">
                    <strong>Fax:</strong>
                </div>
                <div class="col-md-9">
                    <span data-bind="text: fax"></span>
                </div>
            </div>

            <div class="row" data-bind="visible: email">
                <div class="col-md-3">
                    <strong>Email:</strong>
                </div>
                <div class="col-md-9">
                    <span data-bind="text: email"></span>
                </div>
            </div>

            <div class="row" data-bind="visible: note">
                <div class="col-md-3">
                    <strong>Note:</strong>
                </div>
                <div class="col-md-9">
                    <span data-bind="text: note"></span>
                </div>
            </div>
        </div>
    <% } else { %>
        <!--Show several quick link buttons to frequently used active companies-->
        <div class="hidden-sm hidden-xs">
            <div class="row text-center">
                <div class="btn-group" data-bind="visible: company_list().length > 0, foreach: company_list">
                    <button type="button"
                            style="width: 50%; border-radius: 0px; margin: 0px; padding: 2px"
                            class="btn btn-custom btn-lg"
                            data-bind="click: $parent.loadCompany">
                        <strong data-bind="text: name"></strong>
                    </button>
                </div>
                <div class="" data-bind="visible: company_list().length == 0">
                    <i class="fa fa-spinner fa-pulse"></i> 加載常用的公司
                </div>
            </div>
        </div>
    <% } %>
    <div class="footer text-center hidden-sm hidden-xs">
        <hr>
        <div>Written by Jay W. Johnson (2015)</div>
    </div>
</div>



<script><%- partial ('vm.sidebar.js') %></script>
