<!--Modal for viewing a single invoice-->
<div data-bind="with: invoiceModalVM">
    <div id="form_modal" class="modal" data-bind="style: {display: isVisible() ? 'block' : 'none'}">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="text-center">發票</h2>
            </div>
            <form class="form-horizontal" data-bind="submit: doSubmit">
                <div class="panel-body">

                    <table class="table table-condensed table-striped">
                        <thead class="text-uppercase">
                            <tr>
                                <th class="text-center">出貨單編號</th>
                                <th class="text-center">內用品名 (標籤)</th>
                                <th class="text-center">件數</th>
                                <th class="text-center">數量</th>
                                <th class="text-center">價格</th>
                                <th class="text-center">總額</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: invoiceItems">
                            <tr>
                                <td class="text-center">
                                    <input type="hidden" name="price" data-bind="value: price">
                                    <input type="hidden" name="is_supply" data-bind="value: is_supply">
                                    <input type="hidden" name="MPN" data-bind="value: MPN">
                                    <span data-bind="text: shipment_no"></span>
                                </td>
                                <td class="text-center has-success">
                                    <span data-bind="text: inventory_name"></span>
                                    <span data-bind="visible: inventory_name != product_label">
                                        (<span data-bind="text: product_label"></span>)
                                    </span>
                                </td>
                                <td class="text-right">
                                    <span data-bind="text: qty"></span>
                                    <span data-bind="text: countUnit"></span>
                                </td>
                                <td class="text-right">
                                    <span data-bind="text: totalUnits"></span>
                                </td>
                                <td class="text-right">
                                    $ <span data-bind="text: price"></span>
                                    /<span data-bind="text: unitpriced ? UM : SKU"></span>
                                </td>
                                <td class="text-right">
                                    $ <span data-bind="text: value"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="border: 2px solid blue; padding: 4px; letter-spacing: 2px">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input class="text-center" type="text" maxlength="10" placeholder="發票編號" data-bind="textInput: invoice_no, disable: invoice_id">
                                    </div>
                                    <label class="col-md-8 text-center" style="color: blue; letter-spacing: 10px;">
                                        統 一 發 票 ( 三 聯 式 )
                                    </label>
                                </div>

                                <div class="row" style="padding-top: 8px;">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4" style="color: blue; font-size: 14px">買 受 人 :</label>
                                            <div class="col-md-8">
                                                <div data-bind="visible: is_sale() == false">
                                                    <select data-bind="value: us, disable: invoice_id" required>
                                                        <option value="台茂">台茂</option>
                                                        <option value="永茂">永茂</option>
                                                        <option value="富茂">富茂</option>
                                                        <option value="進侑企業">進侑企業</option>
                                                    </select>
                                                </div>
                                                <div data-bind="visible: is_sale()">
                                                    <select data-bind="value: them, disable: invoice_id" required>
                                                    <% cogroup.branches.forEach(function(branch) { %>
                                                    <option value="<%= branch.name %>"><%= branch.fullname %> : <%= branch.tax_id %></option>
                                                    <% }); %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Date entry -->
                                    <div class="col-md-6 text-center" style="font-size: 14px">
                                        <label class="text-center" style="color: blue;">
                                            中華民國
                                        </label>
                                        <input class="text-center" type="text" size="1" maxlength="3" data-bind="textInput: inv_year, disable: invoice_id">
                                        <label class="text-center" style="color: blue;">
                                            年
                                        </label>
                                        <input class="text-center" type="text" size="1" maxlength="2" data-bind="textInput: inv_month, disable: invoice_id">
                                        <label class="text-center" style="color: blue;">
                                            月
                                        </label>
                                        <input class="text-center" type="text" size="1" maxlength="2" data-bind="textInput: inv_day, disable: invoice_id">
                                        <label class="text-center" style="color: blue;">
                                            日
                                        </label>
                                        <br>

                                        <label class="text-center" data-bind="text: '( ' + invoicedate() + ' )'" disabled></label>

                                    </div>
                                </div>



                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-9">
                                <!-- Products aggregated table -->
                                <table class="table table-condensed table-bordered">
                                    <thead class="text-uppercase">
                                        <tr style="color: blue; letter-spacing: 10px">
                                            <th class="text-center">品 名</th>
                                            <th class="text-center">數 量</th>
                                            <th class="text-center">單 價</th>
                                            <th class="text-center">金 額</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: aggregateItems">
                                        <tr>
                                            <td class="text-center">
                                                <span data-bind="text: product_label"></span>
                                            </td>
                                            <td class="text-right">
                                                <span data-bind="text: x_qty"></span>
                                                <span data-bind="text: x_um"></span>
                                            </td>
                                            <td class="text-right">
                                                $ <span data-bind="text: price"></span>
                                                /<span data-bind="text: x_um"></span>
                                            </td>
                                            <td class="text-right" style="width: 20%">
                                                $ <span data-bind="text: value"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <table class="table table-condensed table-bordered">
                                    <thead class="text-uppercase">
                                        <tr style="color: blue; letter-spacing: 10px">
                                            <th class="text-center">備註</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="">
                                        <tr>
                                            <td class="text-center">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <!-- Products aggregated table -->
                                <table class="table table-condensed table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="text-center" style="color: blue; letter-spacing: 16px;">銷 售 額 合 計</td>
                                            <td class="text-right" style="width: 20%">
                                                $ <span data-bind="text: subtotal()"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" style="color: blue; letter-spacing: 16px;">營&nbsp;&nbsp;&nbsp;業&nbsp;&nbsp;&nbsp;稅</td>
                                            <td class="text-right" style="width: 20%">
                                                $ <span data-bind="text: taxtotal()"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" style="color: blue; letter-spacing: 16px;">總&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;計</td>
                                            <td class="text-right" style="width: 20%">
                                                $ <span data-bind="text: grandtotal()"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <table class="table table-condensed table-bordered">
                                    <thead class="text-uppercase">
                                        <tr style="color: blue;">
                                            <th class="text-center">營業人統一發票專用章</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr rowspan="2">
                                            <td class="text-center">
                                                <div data-bind="visible: is_sale()">
                                                    <select data-bind="value: us" required>
                                                        <option value="台茂">台茂</option>
                                                        <option value="永茂">永茂</option>
                                                        <option value="富茂">富茂</option>
                                                        <option value="進侑企業">進侑企業</option>
                                                    </select>
                                                </div>
                                                <div data-bind="visible: is_sale() == false">
                                                    <select data-bind="value: them" required>
                                                    <% cogroup.branches.forEach(function(branch) { %>
                                                    <option value="<%= branch.name %>"><%= branch.name %> : <%= branch.tax_id %></option>
                                                    <% }); %>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer lightorange-blend">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-lg btn-danger" data-bind="click: exitModal">回到列表 <span class="badge">Esc</span></button>
                            <button type="button" class="btn btn-lg btn-warning" data-bind="click: delete_invoice, visible: invoice_id() != undefined">刪除發票</button>
                            <button type="submit" class="btn btn-lg btn-success" name="make_po_shipment" value="創造新發票" data-bind="visible: invoice_id() == undefined">創造新發票</button>
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                            <input type="hidden" name="group" value="<%= cogroup.name %>" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script><%- partial ('modal.viewmodel.js') %></script>
