<div class="row">
    <h2 class="col-md-10">使用中的訂單<span class="label label-warning">到貨日期順序</span></h2>
</div>
<!--
<div class="row">
    <div class="col-md-7 text-center">
        <a class="btn btn-custom" href="/order/due/<%= page-1 %>"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <% for (var i=1; i <= 3 ; i=i+1) { %>
            <a class="btn btn-custom" href="/order/due/<%= i %>">
                <%=i %>
            </a>
            <% } %>
                <a class="btn btn-custom" href="/order/due/<%= page+1 %>"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
</div>
-->
<br>
<table class="table table-condensed">
    <thead class="text-uppercase">
        <tr>
            <th></th>
            <th>公司名稱</th>
            <th>到貨日期</th>
            <th>品名</th>
            <th>QTY</th>
            <th>已送</th>
            <th>訂貨日期</th>
        </tr>
    </thead>
    
    <tbody>
        <% orders.forEach(function(order) { %>
                <% if (order.duedate <= today) { %>
                    <tr style="background-color: pink;">
                <% } else { %>
                    <tr>
                <% } %>
                <td>
                    <a href="/cogroup/show/<%= order.group %>" class="btn btn-xs btn-custom">信息</a>
                    <a href="/product/show/<%= order.group %>" class="btn btn-xs btn-custom">產品</a>
                </td>
                <td>
                    <%= order.group %><font color="#acacac">公司</font>
                </td>
                <td>
                    <%= order.duedate_string() %>
                </td>
                <td>
                    <%= order.MPN.inventory_name %>
                </td>
                <td>
                    <% if (order.qty>2000000000) { %>
                        <span class="label label-warning">無限</span>
                    <% } else { %>
                        <%= order.qty %>
                    <% } %>
                </td>
                <td>
                    <%= order.qty_shipped() %>
                </td>
                <td>
                    <%= order.orderdate_string() %>
                </td>

            </tr>
        <% }); %>
    </tbody>
</table>
<div class="row">
    <div class="col-md-7 text-center">
        <a class="btn btn-custom" href="/order/due/<%= page-1 %>"<% if (page == 1) { %>
             disabled
            <% } %>><span class="glyphicon glyphicon-arrow-left"></span></a>
        <% for (var i=1; i <= 3 ; i=i+1) { %>
            <a class="btn btn-custom" href="/order/due/<%= i %>"<% if (page == i) { %>
             disabled
            <% } %>>
                <%=i %>
            </a>
            <% } %>
                <a class="btn btn-custom" href="/order/due/<%= page+1 %>"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
</div>