<!--
TODO:
    Add modal that pops up when rows are selected and Enter key pressed
    Add a way to add new PO and a way to copy existing PO as a new one
    Add way to see manifest list. maybe popup when mouseover delivered amt.
-->
<div data-bind="with: OrdersVM">
  <table class="table table-condensed table-striped">
    <thead>
        <th>選</th>
        <th>日期</th>
        <th>賣家</th>
        <th>買主</th>
        <th>PO#</th>
        <th>品名</th>
        <th>訂量</th>
        <th>剩量</th>
        <th>價格</th>
        <th>納稅</th>
        <th>備註</th>
    </thead>
    <tbody data-bind="foreach: orders">
        <tr data-bind="click: function (data, event) { $parent.rowClick(event, $index()); return true; },
                       css: {'highlight-row': isSelected, 'archived-row': !is_open() && !isSelected()},
                       attr: {id: 'rec-' + $index()}">
            <td style="width: 2em">
                <div class="dropdown">
                    <button class="btn btn-custom btn-xs dropdown-toggle"
                            data-bind="attr: {id: 'dropdown' + $index()},
                                       visible: !isEditing()"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            role="button">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu"
                        data-bind="attr: {'aria-labelledby': 'dropdown' + $index()}">
                        <div class="btn-group-vertical">
                            <button class="btn btn-success" style="text-align: left"
                                data-bind="click: function (data) { $parent.editButton($index(), data); }">
                                <i class="fa fa-pencil-square-o fa-fw fa-lg"></i> 編輯訂單
                            </button>
                            <button disabled class="btn btn-success" style="text-align: left">
                                <i class="fa fa-list-alt fa-fw fa-lg"></i> 看出貨單
                            </button>
                            <button disabled class="btn btn-success" style="text-align: left" data-bind="visible: !is_open()">
                                <i class="fa fa-refresh fa-fw fa-lg"></i> 在開啟訂單
                            </button>
                            <button disabled class="btn btn-success" style="text-align: left" data-bind="visible: is_open">
                                <i class="fa fa-ban fa-fw fa-lg"></i> 結束訂單並歸檔
                            </button>
                            <button disabled class="btn btn-success" style="text-align: left">
                                <i class="fa fa-files-o fa-fw fa-lg"></i> 複製舊訂單
                            </button>
                            <button class="btn btn-danger" style="text-align: left"
                                data-bind="click: function (data) {data.isConfirmingDelete(true)}">
                                <i class="fa fa-trash fa-fw fa-lg"></i> 刪除訂單
                            </button>
                        </div>
                    </div>
                </div>
                <div class="btn-group-vertical btn-group-sm"
                     data-bind="visible: isEditing">
                    <button class="btn btn-danger has-tooltip"
                            data-bind="click: $parent.editCancelButton($index())"
                            data-toggle="tooltip" data-placement="top" title="關閉編輯視窗">
                        <i class="fa fa-close fa-lg"></i>
                    </button>
                    <button class="btn btn-primary has-tooltip"
                            data-bind="attr: {onclick: 'viewModel.OrdersVM.editSaveButton(this,' + $index() + ')'}"
                            data-toggle="tooltip" data-placement="bottom" title="儲存更改">
                        <i class="fa fa-floppy-o fa-lg"></i>
                    </button>
                </div>
            </td>
            <td has-input="orderdate">
                <div data-bind="text: $root.formatDate(orderdate())"></div>
                <input class="form-control" type="text" style="width: 10em"
                       data-bind="attr: {value: (new Date(orderdate())).toLocaleDateString()},
                                  visible: isEditing">
                <div class="alert alert-danger fade in text-center" role="alert"
                     data-bind="visible: isConfirmingDelete">
                    此動作無法回復<br>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary"
                                data-bind="click: function (data) {data.isConfirmingDelete(false)}">
                            <i class="fa fa-backward fa-fw fa-lg"></i> 取消
                        </button>
                        <button type="button" class="btn btn-danger"
                                data-bind="click: function (data) {$parent.deleteRecord(data); data.isConfirmingDelete(false)}">
                            <i class="fa fa-trash fa-fw fa-lg"></i> 確認刪除
                        </button>
                    </div>
                </div>
                <div class="alert alert-danger fade in text-center" role="alert"
                     data-bind="visible: errorMessage, text: errorMessage">
                </div>
            </td>
            <td data-bind="text: seller"></td>
            <td data-bind="text: buyer"></td>
            <td has-input="orderID">
                <div data-bind="html: orderID() ? orderID : '<label class=\'badge\'>' + id() + '</label>'"></div>
                <input class="form-control" type="text" style="width: 10em"
                       placeholder="PO#"
                       data-bind="attr: {value: orderID()},
                                  visible: isEditing">
            </td>
            <td data-bind="text: MPN.inventory_name"></td>
            <td has-input="qty" align="right">
                <div data-bind="text: qty"></div>
                <input class="form-control text-right" type="text" style="width: 6em"
                       data-bind="attr: {value: qty()},
                                  visible: isEditing">
            </td>
            <td align="right">
                <div data-bind="text: qty_shipped"></div>
            </td>
            <td has-input="price" align="right">
                <div data-bind="text: '$' + price()"></div>
                <input class="form-control text-right" type="text" style="width: 6em"
                       data-bind="attr: {value: price()},
                                  visible: isEditing">
            </td>
            <td has-input="applytax">
                <div data-bind="html: applytax() ? '<i class=\'fa fa-lg fa-check-square-o\'></i>' : '<i class=\'fa fa-lg fa-square-o\'></i>'"></div>
                <input class="checkbox-30" type="checkbox"
                       data-bind="checked: applytax(),
                                  visible: isEditing">
            </td>
            <td has-input="ordernote" style="max-width: 300px">
                <div data-bind="text: ordernote"></div>
                <input class="form-control" type="text" placeholder="備註"
                       data-bind="attr: {value: ordernote()},
                                  visible: isEditing">
            </td>
        </tr>
    </tbody>
  </table>

  <!-- Modal: Create Shipment from POs -->
  <div class="modal fade" id="createShipmentModal" tabindex="-1" role="dialog" aria-labelledby="createShipmentModal">
    <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content"
              action="/shipment/create" method="post">
            <div class="modal-header lightgreen-blend">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center">創造出貨單</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-md-3 control-label">台茂</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="us" required>
                                    <option value="台茂">台茂</option>
                                    <option value="永茂">永茂</option>
                                    <option value="富茂">富茂</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-md-3 control-label">客戶</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="them" required>
                                <% cogroup.branches.forEach(function(branch) { %>
                                <option value="<%= branch.name %>"><%= branch.name %> : <%= branch.tax_id %> : <%= branch.fullname %></option>
                                <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-4 control-label">貨單日期</label>
                            <div class="col-md-8 has-success">
                                <input type="date" class="form-control" name="shipmentdate" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-md-3 control-label">聯 絡 人</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="contact">
                                <% cogroup.contacts.forEach(function(contact) { %>
                                <option value="<%= contact.id %>"><%= contact.position %> : <%= contact.name %> : <%= contact.phone %></option>
                                <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-4 control-label">貨單編號</label>
                            <div class="col-md-8 has-success">
                                <input type="text" class="form-control" maxlength="15" placeholder="" name="shipment_no" data-bind="textInput: shipment_no">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label">送貨地址</label>
                            <div class="col-md-9 has-success">
                                <input type="text" class="form-control" placeholder="" name="shipmentdest">
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-condensed">
                    <thead>
                        <td>PO#</td>
                        <td>品名</td>
                        <td align="right">剩量/訂量</td>
                        <td align="center">這次出貨量</td>
                        <td align="center">出貨後剩量</td>
                    </thead>
                    <tbody data-bind="foreach: orders">
                        <tr class="vertical-middle" data-bind="if: isSelected">
                            <td>
                                <input type="hidden" name="PO" data-bind="value: id">
                                <input type="hidden" name="is_supply" data-bind="value: MPN.is_supply">
                                <input type="hidden" name="MPN" data-bind="value: MPN.MPN">
                                <input type="hidden" name="price" data-bind="value: price">
                                <span data-bind="text: orderID"></span>
                                <label class="badge" data-bind="text: id, visible: !orderID()"></label>
                            </td>
                            <td data-bind="text: MPN.inventory_name"></td>
                            <td align="right"
                                data-bind="text: qty() - qty_shipped() + ' / ' + qty() + ' ' + qtyMeasure"></td>
                            <td align="center">
                                <input name="qty" type="text" required class="form-control input-sm text-right"
                                       style="width: 8em; font-size: 16px"
                                       data-bind="textInput: qtyRequested">
                            </td>
                            <td align="center"
                                data-bind="text: qty() - qty_shipped() - qtyRequested()"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <input type="hidden" name="group" value="<%= cogroup.name %>" />
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-success">提交</button>
            </div>
        </form>
    </div>
  </div>

</div><!--End of "with" div-->

<script><%- partial ('viewmodel.js') %></script>
