<!--
TODO:
    Think about adding auto-filling price when selecting product
    Add way to see manifest list. maybe popup when mouseover delivered amt.
-->
<div data-bind="with: OrderIndex">
    <div style="position: fixed; right: 0px">
        <button class="btn btn-success"
                data-bind="click: function () {createNewOrder();}"
                data-toggle="tooltip" data-placement="bottom" title="Alt+N">
            新訂單
        </button>
        <button class="btn btn-success"
                onclick="$('#helpModal').modal('show');"
                data-toggle="tooltip" data-placement="bottom" title="F1">
            Help (F1)
        </button>
    </div>

  <table class="table table-condensed">
    <thead>
        <th>選</th>
        <th>日期</th>
        <th class="text-center">
            賣家 <i class="fa fa-arrow-right fa-fw"></i> 買主
        </th>
        <th>PO#
            <input class="form-control"
                   style="color: black; width: 80px; display: inline"
                   data-bind="textInput: filterText">
        </th>
        <th>品名</th>
        <th class="text-center">訂量</th>
        <th></th>
        <th class="text-center">已送</th>
        <th class="text-center">價格</th>
        <th>納稅</th>
        <th>備註</th>
    </thead>
    <tbody data-bind="foreach: orders">
        <tr data-bind="event: {dblclick: function (data) {$parent.dblclick($index())}},
                       <% if (res.locals.cogroup) { %>
                       click: function (data, event) { $parent.rowClick(event, $index()); return true; },
                       <% } %>
                       css: {'archived-row': !is_open() && !isSelected(),
                           'hide-row': isHidden(),
                           'alert-text': is_open() && parseInt(qty()) <= parseInt(qty_shipped()),
                           <% if (res.locals.cogroup) { %>
                           'highlight-row': is_open && isSelected,
                           'highlight-archived-row': !is_open() && isSelected,
                           <% } %>
                       }">
            <td style="width: 2em">
                <div class="dropdown">
                    <button class="btn btn-custom btn-xs dropdown-toggle"
                            data-bind="attr: {id: 'dropdown' + $index()},
                                       visible: !isEditing()"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            role="button">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu"
                        data-bind="attr: {'aria-labelledby': 'dropdown' + $index()}">
                        <div class="btn-group-vertical">
                            <% if (res.locals.cogroup) { %>
                            <button class="btn btn-success" style="text-align: left"
                                data-bind="click: function () { $parent.toggleSelection($index()) }">
                                <i class="fa fa-hand-pointer-o fa-fw fa-lg"></i> 切換選擇 (Ctrl+左鍵)
                            </button>
                            <% } %>
                            <button class="btn btn-success" style="text-align: left"
                                    data-bind="click: function (data) { $parent.editButton($index(), data); }">
                                <i class="fa fa-pencil-square-o fa-fw fa-lg"></i> 編輯訂單 (左鍵兩次)
                            </button>
                            <button class="btn btn-success" style="text-align: left"
                                    data-bind="click: function () {window.location='/order/show/'+id();}">
                                <i class="fa fa-list-alt fa-fw fa-lg"></i> 看出貨單
                            </button>
                            <% if (res.locals.cogroup) { %>
                            <button class="btn btn-success" style="text-align: left"
                                    data-bind="click: function (data) { $parent.createFromTemplate(data); }">
                                <i class="fa fa-files-o fa-fw fa-lg"></i> 複製舊訂單
                            </button>
                            <% } %>
                            <button class="btn btn-success" style="text-align: left"
                                    data-bind="visible: !is_open(), click: function () {$parent.toggleOpen($index())}">
                                <i class="fa fa-refresh fa-fw fa-lg"></i> 再開啟訂單 (Ctrl+Alt+左鍵)
                            </button>
                            <button class="btn btn-warning" style="text-align: left"
                                    data-bind="visible: is_open, click: function () {$parent.toggleOpen($index())}">
                                <i class="fa fa-ban fa-fw fa-lg"></i> 結束訂單並歸檔 (Ctrl+Alt+左鍵)
                            </button>
                            <button class="btn btn-danger" style="text-align: left"
                                data-bind="click: function (data) {data.isConfirmingDelete(true)}">
                                <i class="fa fa-trash fa-fw fa-lg"></i> 刪除訂單
                            </button>
                        </div>
                    </div>
                </div>
                <div class="btn-group-vertical btn-group-sm"
                     data-bind="visible: isEditing">
                    <button class="btn btn-danger has-tooltip"
                            data-bind="click: function () {$parent.editCancelButton($index())}"
                            data-toggle="tooltip" data-placement="top" title="關閉編輯">
                        <i class="fa fa-close fa-lg"></i>
                    </button>
                    <button class="btn btn-primary has-tooltip"
                            data-bind="attr: {onclick: 'viewModel.OrderIndex.editSaveButton(this,' + $index() + ')'}"
                            data-toggle="tooltip" data-placement="bottom" title="儲存更改">
                        <i class="fa fa-floppy-o fa-lg"></i>
                    </button>
                </div>
            </td>
            <td has-input="orderdate" class="has-success">
                <span data-bind="text: $root.formatDate(orderdate()),
                                attr: {'data-original-title': (new Date(orderdate())).getFullYear() + '年'}"
                     data-toggle="tooltip" data-placement="right"></span>
                <input class="form-control" type="text" style="width: 6em" maxlength="10"
                       data-bind="attr: {value: (new Date(orderdate())).toLocaleDateString()},
                                  visible: isEditing">
                <div class="alert alert-danger fade in text-center" role="alert"
                     data-bind="visible: isConfirmingDelete">
                    此動作無法回復<br>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary"
                                data-bind="click: function (data) {data.isConfirmingDelete(false)}">
                            <i class="fa fa-backward fa-fw fa-lg"></i> 取消
                        </button>
                        <button type="button" class="btn btn-danger"
                                data-bind="click: function (data) {$parent.deleteRecord(data); data.isConfirmingDelete(false)}">
                            <i class="fa fa-trash fa-fw fa-lg"></i> 確認刪除
                        </button>
                    </div>
                </div>
                <div class="alert alert-danger fade in text-center" role="alert"
                     data-bind="visible: errorMessage, text: errorMessage">
                </div>
            </td>
            <% if (res.locals.cogroup) { %>
            <td has-input="seller-buyer" class="text-center has-success" style="width: 10em">
                <div>
                    <span data-bind="text: seller"></span>
                    <i class="fa fa-arrow-right fa-fw"></i>
                    <span data-bind="text: buyer"></span>
                </div>
                <div class="input-group" width="10em"
                     data-bind="visible: isEditing">
                    <!-- ko if: is_purchase -->
                    <select class="form-control" style="width: 50%"
                            data-bind="options: <%= JSON.stringify(cogroup.branches) %>,
                                       optionsText: 'name',
                                       optionsValue: 'name',
                                       optionsCaption: '選別的...'">
                    </select>
                    <!-- /ko -->
                    <select class="form-control" style="width: 50%"
                            data-bind="options: [{name: '台茂'},{name: '富茂'},{name: '永茂'}],
                                       optionsText: 'name',
                                       optionsValue: 'name',
                                       optionsCaption: '選別的...'">
                    </select>
                    <!-- ko ifnot: is_purchase -->
                    <select class="form-control" style="width: 50%"
                            data-bind="options: <%= JSON.stringify(cogroup.branches) %>,
                                       optionsText: 'name',
                                       optionsValue: 'name',
                                       optionsCaption: '選別的...'">
                    </select>
                    <!-- /ko -->
                </div>
            </td>
            <% } else {  // No cogroup selected %>
            <td>
                <button class="btn btn-custom"
                        data-bind="click: function () {window.location='/order?co=' + group()}"
                        style="width: 100%; font-size: 16px; font-weight: bold; padding: 0px;">
                    <span data-bind="text: seller"></span>
                    <i class="fa fa-arrow-right fa-fw"></i>
                    <span data-bind="text: buyer"></span>
                </button>
            </td>
            <% } %>
            <td has-input="orderID" class="has-success">
                <div data-bind="visible: id, html: orderID() ? orderID : '<label class=\'badge\'>' + id() + '</label>'"></div>
                <input class="form-control" type="text" style="width: 8em"
                       placeholder="PO#"
                       data-bind="attr: {value: orderID()},
                                  visible: isEditing">
                <div class="label label-danger" role="alert"
                     style="font-size: 16px"
                     data-bind="visible: !id()">本紀錄還沒儲存!</div>
            </td>
            <td has-input="MPN" class="has-success">
                <div data-bind="text: MPN.inventory_name"></div>
                <select class="form-control" style="width: auto"
                        data-bind="visible: !id(),
                                   options: $parent.products,
                                   optionsText: function (item) {return item.inventory_name() + ' : $' + item.curr_price()},
                                   optionsValue: 'MPN',
                                   optionsCaption: '選別的...'">
                </select>
            </td>
            <td has-input="qty" class="has-success" align="right">
                <span data-bind="text: qty() + ' ' + qtyMeasure(),
                                attr: {'data-original-title': MPN.units() === 1 ? '' : (qty() * MPN.units()) + ' ' + MPN.UM()}"
                     data-toggle="tooltip" data-placement="left"></span>
                <input class="form-control text-right" type="text" style="width: 5em"
                       data-bind="attr: {value: qty()},
                                  visible: isEditing">
            </td>
            <td>
                <span data-bind="attr: {'data-original-title': MPN.units() === 1 ? '' : MPN.units() + ' ' + MPN.UM() + ' / ' + MPN.SKU()}"
                     data-toggle="tooltip" data-placement="right">
                    <img alt="sack" src="/fonts/sack.svg" height="20"
                         data-bind="visible: MPN.SKU() == '包'">
                    <img alt="jerrycan" src="/fonts/jerrycan.svg" height="20"
                         data-bind="visible: MPN.SKU() == '桶' && MPN.units() < 100">
                    <img alt="barrel" src="/fonts/barrel.svg" height="22"
                         data-bind="visible: MPN.SKU() == '桶' && MPN.units() >= 100">
                    <img class="fa-flip-horizontal" alt="tanker" src="/fonts/tanker.svg" height="26"
                         data-bind="visible: MPN.SKU() == '槽車'">
                </span>
            </td>
            <td align="right">
                <div data-bind="text: qty_shipped() + ' ' + qtyMeasure()"></div>
            </td>
            <td has-input="price" class="has-success" align="center">
                <div data-bind="text: '$' + price() + ' / ' + (MPN.unitpriced() ? MPN.UM() : MPN.SKU()),
                                attr: {'data-original-title': MPN.unitpriced() && MPN.units() > 1 ? '$' + (price() * MPN.units()) + ' / ' + MPN.SKU() : ''}"
                     data-toggle="tooltip" data-placement="right"></div>
                <input class="form-control text-right" type="text" style="width: 6em"
                       data-bind="attr: {value: price()},
                                  visible: isEditing()">
            </td>
            <td has-input="applytax">
                <div data-bind="html: applytax() ? '<i class=\'fa fa-lg fa-check-square-o\'></i>' : '<i class=\'fa fa-lg fa-square-o\'></i>'"></div>
                <input class="checkbox-30" type="checkbox"
                       data-bind="checked: applytax(),
                                  visible: isEditing">
            </td>
            <td has-input="ordernote" class="has-success" style="max-width: 300px">
                <div data-bind="text: ordernote"></div>
                <input class="form-control" type="text" placeholder="備註"
                       data-bind="attr: {value: ordernote()},
                                  visible: isEditing">
            </td>
        </tr>
    </tbody>
  </table>
    <h1 data-bind="visible: isLoading">
        <i class="fa fa-cog fa-spin"></i> Loading...
    </h1>

    <!-- Add create shipment option if a company is selected -->
    <% if (res.locals.cogroup) { %>
        <%- partial ('modal.shipment.ejs') %>
    <% } %>
    <%- partial ('modal.help.ejs') %>
</div><!--End of "with" div-->


<script><%- partial ('vm.order.index.js') %></script>
