<!--Table view of all products for a single company-->

<div id="this body" class="container-fluid">
    
    
<!--START: Main row for two-panes-->
<div class="row">   
    <div class="col-md-12">
<!--vvv START: Company header and buttons vvv-->
    <%- partial ('../company_header.ejs') %>
<!--^^^ END: Company header and buttons ^^^-->
	<hr>
        
<!--vvv START: Panel for products and services list vvv-->
        <div class="panel panel-success" style="margin: 0px" data-bind="with: itemsVM">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-5 panel-title text-center">
                            <h2><strong>產品 / 服務</strong></h2>
                    </div>
                    <div class="col-xs-7">
                        <button type="button" class="btn btn-lg btn-success" data-bind="click: showModal">創造訂單 <span class="badge">Enter</span></button>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding: 0px; overflow-y:scroll; height:62vh;">
                <table class="table table-condensed table-striped">
                    <thead class="text-uppercase">
                        <tr>
                            <th>選</th>
                            <th>
                                品名
                            </th>
                            <th>
                                容量 - 容器
                            </th>
                            <th>
                                <span class="label label-primary">備註</span>
                                <span class="badge">標籤</span>
                                <span class="label label-success">英文</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: products">
                        <tr>            
                <!--        Product Manifest selection    -->
                            <td style="width: 30px; height: 30px">
                                <input style="width:28px; height:28px;" type="checkbox" name="product" data-bind="checked: selected">
                            </td>

                <!--        Product inventory name    -->
                            <td>
                                <span data-bind="text: inventory_name"></span>
                            </td>
                            <td style="width: 25%">
                                <span data-bind="text: units() + ' ' + UM()"></span> - <span data-bind="text: SKU"></span>
                            </td>
                            <td>
                                <span class="label label-primary" data-bind="text: note"></span>
                                <label class="badge" data-bind="text: product_label"></label>
                                <span style="white-space: normal;" class="label label-success" data-bind="text: english_name"></span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer lightorange-blend">
                <div class="text-center">
                    已停用的產品藏起來了. 看公司訊息.
                </div>
            </div>
        </div>
<!--^^^ END: Panel for products and services list ^^^-->
    </div>
</div>
    
        
        

<!--START: PO entry form-->
<div data-bind="with: itemsVM">
    <div id="form modal" class="modal" data-bind="style: {display: modalVisible() ? 'block' : 'none'}">
        <div class="panel panel-success">
            <div class="panel-heading">
            
                <div class="row-fluid h2">
                    <strong>訂單</strong>
                </div>
            </div>
    <form action="/order/create">
            <div class="panel-body">
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                <input type="hidden" name="group" value="<%= cogroup.name %>" />

                <div class="row-fluid">
                    <div class="col-sm-6">
                        <div class="form-group form-group-lg">
                            <label class="control-label">訂單編號</label>
                            <div class="has-success">
                                <input type="text" class="form-control" name="orderID" data-bind="value: orderID">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-lg">
                            <label class="control-label">訂單日期</label>
                            <div class="has-success">
                                <input type="date" class="form-control" name="orderdate" required>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-condensed table-striped">
                    <thead class="text-uppercase">
                        <tr>
                        <th>
                            <div class="row-fluid">
                                <div class="col-md-6">
                                    <div class="row-fluid">
                                        <div class="col-xs-6 text-center">標籤品名</div>
                                        <div class="col-xs-6 text-center">價格</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row-fluid">
                                        <div class="col-xs-6 text-center">數量</div>
                                        <div class="col-xs-6 text-center">總價值</div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>備註</th>
                    </tr></thead>
                    <tbody data-bind="foreach: rows">
                        <tr>     
                            <input type="hidden" name="MPN" data-bind="value: MPN">
                            <input type="hidden" name="is_supply" data-bind="value: is_supply">
                            <td style="width:70%">
                                <div class="row-fluid">
                                    <div class="col-md-6" style="padding: 0px 2px">
                                        <div class="row-fluid">
                                            <div class="col-xs-6" style="padding: 0px 2px">
        <!--Product label-->                    <span class="text-left" data-bind="text: label"></span>
                                            </div>
                                            <div class="col-xs-6" style="padding: 0px 2px">
                                                <div class="input-group has-success">
                                                    <div class="input-group-addon">$</div>
        <!--Price-->                                <input style="font-size: 18px;" type="number" min=1 step="0.001" class="form-control text-right" name="price" data-bind="textInput: price" required />
                                                    <div class="input-group-addon" data-bind="text: pricing"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding: 0px 2px">
                                        <div class="row-fluid">
                                            <div class="col-xs-6" style="padding: 0px 2px">
                                                <div class="input-group has-success">
        <!--Quantities-->                           <input style="font-size: 18px;" type="number" min=1 max=100000 class="form-control text-right" name="qty" data-bind="textInput: qty" required />
                                                    <div class="input-group-addon" data-bind="text: jianshu"></div>
                                                </div>
                                                <div>
        <!--Qty units-->                            <h5 class="text-right" data-bind="visible: $parent.showCalc, text: '$' + price() + ' x ' + totalUnits() + ' ='"></h5>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" style="padding: 0px 2px">
                                                <abbr data-bind="attr: {title: '$' + price() + ' x ' + totalUnits() + ' = $' + total_value()}">
                                                    <div class="input-group has-success">
                                                        <div class="input-group-addon">$</div>
            <!--Subtotal-->                             <input disabled style="font-size: 18px;" type="number" min=1 step="0.001" class="form-control text-left total-value" data-bind="value: total_value">
                                                    </div>
                                                </abbr>
                                                <div>
        <!--Qty units-->                            <h5 class="text-left" data-bind="visible: $parent.showCalc, text: '$' + total_value()"></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>


                            <td style="width:30%">
        <!--Notes-->            <input type="text" placeholder="note" style="width: 100%" class="form-control" name="ordernote" data-bind="textInput: ordernote">
                            </td>

                        </tr>
                        </tbody>
                </table>
            </div>
            <div class="panel-footer lightorange-blend">
        
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <input type="hidden" name="back" value="/product/show/<%= cogroup.name %>">
                        <button type="button" class="btn btn-lg btn-danger" data-bind="click: exitModal">回到列表 <span class="badge">Esc</span></button>
                        <button type="button" class="btn btn-lg btn-custom" data-bind="click: toggleCalc">顯示算法</button>
                    </div>

                    <div class="col-sm-3 form-group form-group-lg form-inline">
                        <div class="input-group has-success">
                            <div class="input-group-addon">$</div>
                            <input disabled placeholder="訂單總價" style="font-size: 18px" type="text" class="form-control text-left" data-bind="value: grand_total()">
                        </div>
                    </div>

                    <div class="col-sm-3 text-center">
                        <input type="submit" class="btn btn-lg btn-success" name="make_po" value="提交訂單">
                    </div>
                </div>
            </div>
    </form>
        </div>
    </div>
</div>
<!--END: PO entry form-->
    
    
</div>
    
    
<script>
var viewModel = viewModel || {};
var co_name = viewModel.co_name = '<%= cogroup.name %>';
var _csrf = viewModel._csrf = '<%= _csrf %>';
    
    
var cogroup = new KO_Cogroup(<%- JSON.stringify(cogroup) %>);
addCompanyNavButtons(co_name);
    
function ItemsModel() {
    var self = this;
    
    self.modalVisible = ko.observable(false);
    self.showModal = function(clickedItem) {
        self.modalVisible(true);
    };
    self.exitModal = function(clickedItem) {
        self.modalVisible(false);
    };
    
    document.onkeydown = function(evt) {
        if (evt.keyCode == 27 && self.modalVisible() == true) {
            self.exitModal();
        }
        if (evt.keyCode == 13 && self.modalVisible() == false) {
            self.showModal();
        }
    };
    
    self.showCalc = ko.observable(false);
    self.toggleCalc = function() {
        self.showCalc(!self.showCalc());
    };
    
    self.orderID = ko.observable();
    
    self.products = ko.observableArray([]);
    self.productsGet = function () {
        params = {
            _csrf: _csrf, 
            id: co_name,
        };
        callback = function (products) {
            self.products.removeAll();
            for (var i=0; i<products.length; i++) {
                if (!products[i].discontinued) {
                    self.products.push(new KO_Product(products[i]));
                }
            }
        };
        getProducts(params, callback);
    };
    self.productsGet();
    
    self.rows = ko.observableArray([]);
    
    self.grand_total = ko.computed( function () {
        var total = 0;
        for (var i=0; i<self.rows().length; i++) {
            total += self.rows()[i].total_value();
        }
        return isNaN(total) ? '' : total;
    });
    
    for (var i=0; i<self.products.length; i=i+1) {
        self.rows.push(new KO_PurchaseOrder(self.products[i], self.orderID));
    }
    
    var selectCompute = ko.computed(function () {
        self.rows.removeAll()
        for (var i=0; i<self.products().length; i++) {
            if (self.products()[i].selected()) {
                self.rows.push(new KO_PurchaseOrder(ko.toJS(self.products()[i]), self.orderID));
            }
        }
    });
}

    
viewModel.itemsVM = new ItemsModel();
ko.applyBindings(viewModel, document.getElementById('this body'));
</script>