<!--Table view of all POs ordered by order date-->
<div class="container">
    <div class="row">
        <div class="col-md-4 h1 text-center">
            <div class="row">
            <strong><%= cogroup.name %></strong><font color="lightgrey">(公司)</font>
            </div>
            <div class="row">
                <form action="/cogroup/toggle" method="post"><input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="cogroup" value="<%= cogroup.name %>">
                    <input type="hidden" name="back" value="/order/showall/<%= cogroup.name %>">
                    <div class="btn-group">
                    <button type="submit" name="toggle" value="supplier" class=
                                    <% if (cogroup.is_supplier) { %>
                                    "glyphicon glyphicon-ok btn btn-success"
                                    <% } else { %>
                                    "glyphicon glyphicon-remove btn btn-danger"
                                    <% } %>
                        > 供應商</button>
                    <button type="submit" name="toggle" value="customer" class=
                                    <% if (cogroup.is_customer) { %>
                                    "glyphicon glyphicon-ok btn btn-success"
                                    <% } else { %>
                                    "glyphicon glyphicon-remove btn btn-danger"
                                    <% } %>
                        > 客戶</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="btn-group-vertical">
                <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-info-sign"></i> <strong>公司,聯絡人,產品信息</strong></a>
                <a href="/product/show/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-pencil"></i> <strong>管理使用中訂單,創造出貨單</strong></a>
                <a disabled href="/order/showall/<%= cogroup.name %>" class="active btn btn-custom"><i class="glyphicon glyphicon-folder-open"></i> <strong>全部訂單歷史</strong></a>
            </div>
        </div>
    </div>
    
    
    
    
	<hr>


<form action="/order/toggle_open" method="post">
<input type="hidden" name="_csrf" value="<%= _csrf %>" />
<input type="hidden" name="back" value="/order/showall/<%= cogroup.name %>?page=<%= page %>">
<div class="row-fluid h2">
    訂單紀錄
</div>
<br>
<table class="table table-condensed">
    <thead class="text-uppercase">
        <tr>
            <th></th>
            <th>訂單編號</th>
            <th>選</th>
            <th>使用中</th>
            <th>標籤品名</th>
            <th>價格</th>
    <!--        <th class="text-center">訂單數量</th>-->
            <th class="text-center">已出數量</th>
            <th class="text-center">剩下數量</th>
            <th class="text-center">訂單日期</th>
            <th>備註</th>
        </tr>
    </thead>
    
    <tbody>
    <% orders.forEach(function(order) { %>
        <tr>
                <td>
                    <a href="/order/show/<%- order.id %>" class="btn btn-xs btn-custom">View</a>
                </td>
            
            <td><%= order.orderID %></td>
            
<!--        Product Order selection    -->
            <td>
                <input type="checkbox" name="orderIDs" value="<%= order.id %>">
            </td>
            
<!--        Product Order selection    -->
            <td>
                <% if (order.is_open === false) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } else { %>
                <font color="green"><abbr title="使用中:Currently open"><span class="glyphicon glyphicon-star"></span></abbr></font>
                <% } %>
            </td>
            
<!--        Product label    -->
            <td>
                <% if (order.MPN.product_label != "") { %>
                <abbr title="內用名稱: <%= order.MPN.inventory_name %>"><%= order.MPN.product_label %></abbr>
                <% } else { %>
                <%= order.MPN.inventory_name %>
                <% } %>
            </td>
            <td class="text-center">$ <%= order.price %></td>
            
<!--        Quantities    -->
                <% if (order.qty === 2147483647) { %>
<!--                <td class="text-right">&infin;</td>-->
                <td class="text-right"><%= order.qty_shipped() %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>
                <td class="text-right">&infin;</td>
            <% } else { %>
<!--                <td class="text-right"><%= order.qty %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>-->
                <td class="text-right"><%= order.qty_shipped() %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>
                <td class="text-right"><%= order.qty - order.qty_shipped() %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>
            <% } %>
            <td class="text-center"><%= order.orderdate_string() %></td>
            <td><%= order.ordernote %></td>
            
        </tr>
    <% }); %>
        </tbody>
</table>

<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <input class="btn btn-lg btn-success" type="submit" name="toggle_open" value="再用/停用">
    </div>
    <div class="col-md-6">
        <a class="btn btn-custom" href="/order/showall/<%= cogroup.name %>?page=<%= page-1 %>"
           <% if (page == 1) { %>
             disabled
            <% } %>><span class="glyphicon glyphicon-arrow-left"></span></a>
        <% for (var i=1; i <= Math.min(8, maxPage); i=i+1) { %>
            <a class="btn btn-custom" href="/order/showall/<%= cogroup.name %>?page=<%= i %>"<% if (page == i) { %>
             disabled
            <% } %>>
                <%=i %>
            </a>
            <% } %>
                <a class="btn btn-custom" href="/order/showall/<%= cogroup.name %>?page=<%= page+1 %>" 
           <% if (page == maxPage) { %>
             disabled
            <% } %>><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
</div>
    </form>
    </div>