<!--Table view of all POs ordered by order date-->
<div id="thisPage" class="container-fluid">
<!--vvv START: Company header and buttons vvv-->
    <div class="row text-center">
        <div class="col-md-4 h2 text-center" style="margin: 0px; padding: 0px 0px">
            <div class="row">
                <strong data-bind="text: co_name"></strong>
                <font color="lightgrey">(公司)</font>
            </div>
            <div class="row">
                <form action="/cogroup/toggle" method="post"><input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="cogroup" value="<%= cogroup.name %>">
                    <input type="hidden" name="back" value="/cogroup/show/<%= cogroup.name %>">
                    <div class="btn-group">
                        <button data-bind="click: cogroup.toggleSupplier, attr: {'class': cogroup.supplierStatus}"> 供應商</button>
                        <button data-bind="click: cogroup.toggleCustomer, attr: {'class': cogroup.customerStatus}"> 客戶</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8" style="margin: 0px; padding: 0px 5px">
            <div>
                <div class="btn-group btn-group-justified hidden-xs">
                    <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-info-sign"></i> <strong>公司與產品訊息</strong></a>
                    <a href="/order/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-pencil"></i> <strong>創造一個訂單</strong></a>
                    <a href="/order/showall/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-folder-open"></i> <strong>管理訂單與到期日</strong></a>
                </div>
                <div class="btn-group btn-group-justified hidden-xs">
                    <a href="/shipment/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-shopping-cart"></i> <strong>創造出貨單</strong></a>
                    <a href="/invoice/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-usd"></i> <strong>創造發票</strong></a>
                    <a href="/shipment/showall/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-piggy-bank"></i> <strong>管理出貨單與發票</strong></a>
                </div>
            </div>
        </div>
    </div>
<!--^^^ END: Company header and buttons ^^^-->
    
    
    
    
	<hr>


<div class="panel panel-success">
<div class="panel-heading">
    <h3 class="panel-title">
        <strong>訂單紀錄</strong>
    </h3>
</div>
<div class="panel-body" style="padding: 0px">
<table class="table table-condensed table-striped" style="margin: 0px">
    <thead class="text-uppercase">
        <tr>
            <th></th>
            <th>訂單編號</th>
            <th class="text-center">使用中</th>
            <th>標籤品名</th>
            <th class="text-center">價格</th>
            <th class="text-center">訂單數量</th>
            <th class="text-center">已出數量</th>
            <th class="text-center">行程數</th>
            <th class="text-center">訂單日期</th>
            <th>備註</th>
            <th class="text-center">刪除</th>
        </tr>
    </thead>
    
    <tbody data-bind="foreach: orders">
        <tr>
            <td>
                <a data-bind="attr: {href: '/order/show/' + id}" class="btn btn-xs btn-custom"><span class="glyphicon glyphicon-eye-open"></span></a>
            </td>
            
            <td><span data-bind="text: orderID"></span></td>
            
<!--        Order open/close toggle    -->
            <td style="width: 5%" class="text-center">
                <button class="btn btn-custom btn-xs" data-bind="click: $parent.toggleActive, html: toggleMessage"></button>
            </td>
            
<!--        Product label    -->
            <td>
                <span data-bind="text: label"></span>
            </td>
            <td class="text-center">
                $ <span data-bind="text: price"></span>
            </td>
            
<!--        Quantities    -->
            <td class="text-right">
                <span data-bind="text: qty"></span>
            </td>
            <td class="text-right">
                <span data-bind="text: qty_shipped"></span>
            </td>
            <td class="text-left">
                (<span data-bind="text: numberOfShipments"></span> <span class="glyphicon glyphicon-shopping-cart"></span>)
            </td>
            
            <td class="text-center">
                <span data-bind="text: orderdate"></span>
            </td>
            <td>
                <span data-bind="text: ordernote"></span>
            </td>
            <td style="width: 5%" class="text-center">
                <button class="btn btn-danger btn-xs" data-bind="click: $parent.removeOrder, disable: numberOfShipments > 0"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
            
        </tr>
    </tbody>
</table>
</div>
    <div class="panel-footer lightorange-blend">
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <a class="btn btn-custom" data-bind="click: function () { page(1) }, attr: {disabled: page() == 1 ? true : false}"><span class="glyphicon glyphicon-step-backward"></span></a>
            <a class="btn btn-custom" data-bind="click: function () { page(page()-1) }, attr: {disabled: page() == 1 ? true : false}"><span class="glyphicon glyphicon-triangle-left"></span></a>
        </div>
        <div class="btn-group" data-bind="foreach: availablePages">
            <a class="btn btn-custom" data-bind="click: function () { $parent.page(val) }, attr: {disabled: $parent.page() == val ? true : false}, text: val"></a>
        </div>
        
        <a class="btn btn-custom" data-bind="click: function () { page(page()+1) }, attr: {disabled: page() == maxPage ? true : false}"><span class="glyphicon glyphicon-triangle-right"></span></a>
    </div>
</div>
    </div>
    </div>


<script>
var cogroup = new KO_Cogroup(<%- JSON.stringify(cogroup) %>);
var co_name = '<%= cogroup.name %>';
addCompanyNavButtons(co_name);
var _csrf = '<%= _csrf %>';
    
    
function PageModel() {
    var self = this;
    
    self.page = ko.observable(1);
    self.maxPage = 20;
    self.availablePages = ko.observableArray();
    self.orders = ko.observableArray();
    
    self.toggleActive = function(order) {
        order.is_open(!order.is_open());
        self.ordersUpdate(order);
    }
    
    self.ordersUpdate = function (order) {
        var params = {
            _csrf: _csrf, 
            id: co_name,
            order: order
        };
        var cb = function (response) {
            if (response.is_open !== order.is_open()) {
                order.is_open(!order.is_open());
            }
        };
        post('/order/merge', params, cb);
    };
    
    self.removeOrder = function (order) {
        var params = {
            _csrf: _csrf, 
            co_name: co_name,
            order: order
        };
        var cb = function (response) {
//            console.log('REMOVE', response);
            if (response.status === 500) {
                alert(response.raw.code);
            } else {
                self.orders.remove(order);
                self.loadOrders(self.page()); // Refresh list so that it is full.
            }
        };
        post('/database/destroy/order', params, cb);
    };
    
    self.loadOrders = function (page, limit) {
        var params = {
            _csrf: _csrf,
            group: co_name,
            page: Number(page) || 1,
            limit: Number(limit) || 16
        };
        var cb = function (response) {
            self.orders.removeAll();
            for (var i=0; i<response.length; i++) {
//                console.log(response[i]);
                self.orders.push(new KO_PurchaseOrder(response[i].MPN, response[i]));
            }
        };
        post('/database/get/orders', params, cb);
    };
//    self.loadOrders();
    
    
    self.changePage = ko.computed(function () {
        self.availablePages.removeAll();
        var page = self.page();
        for (var i=Math.max(page-4,1); ; i++) {
            if (i <= self.maxPage && self.availablePages().length < 9) {
                self.availablePages.push({val:i});
            } else break;
        }
        self.loadOrders(page);
    });
    
}

ko.applyBindings(new PageModel(), document.getElementById("thisPage"));
</script>