<!--View of a PO and all related shipments-->

<div class='container'>
    <div class="row">
        <div class="col-md-4 h1">
            <strong><%= cogroup.name %></strong><font color="lightgrey">(公司)</font>
            
        </div>
        <div class="col-md-8">
            <h2>
            <a href="/cogroup/toggle_supplier/<%= cogroup.name %>" class=
        <% if (cogroup.is_supplier) { %>
                "glyphicon glyphicon-ok btn btn-success"
        <% } else { %>
            "glyphicon glyphicon-remove btn btn-danger"
        <% } %>
                > 供應商</a>
            <a href="/cogroup/toggle_customer/<%= cogroup.name %>" class=
        <% if (cogroup.is_customer) { %>
                "glyphicon glyphicon-ok btn btn-success"
        <% } else { %>
            "glyphicon glyphicon-remove btn btn-danger"
        <% } %>
                > 客戶</a>
            <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn-custom">公司信息</a>
            <a href="/product/show/<%= cogroup.name %>" class="btn btn-custom">管理訂單</a>
                </h2>
        </div>
    </div>
    
    
    
    
	<hr>
    
    
    
    
    <form action="/order/update" class="form-horizontal">
        <div class="row">
            <div class="col-md-3 h2"><strong>訂單</strong></div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-lg">
                <label class="col-md-3 control-label">訂單編號:</label>
                <div class="col-md-9 has-success">
                    <input type="text" class="form-control" name="orderID" value="<%= order.orderID %>">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label class="col-md-3 control-label">產品名稱:</label>
                <div class="col-md-9 has-success">
                    <input type="text" disabled class="form-control" value="<%= order.MPN.product_label ? order.MPN.product_label : order.MPN.inventory_name %>">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label class="col-md-3 control-label">件數價格:</label>
                <div class="col-md-9">
                    <div class="input-group input-group-lg 
                            <% if (order.applytax === true) { %>
                                has-success">
                            <% } else { %>
                                has-error">
                            <% } %>
                        <div class="input-group-addon">$</div>
                        <input type="number" step="0.001" class="form-control input-lg input-24" name="price" value="<%= order.price %>"
                               
                            <% if (shipments.length > 0) { %> disabled <% } %>
                               >
                        <div class="input-group-addon">
                            <input type="radio" name="applytax" value="true"  <% if (shipments.length > 0) { %> disabled <% } %> <% if (order.applytax === true) { %> checked <% } %>>應稅
                            <input type="radio" name="applytax" value="false" <% if (shipments.length > 0) { %> disabled <% } %> <% if (order.applytax !== true) { %> checked <% } %>>無稅
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-6">
            <div class="form-group form-group-lg">
                <label class="col-md-3 control-label">訂單件數:</label>
                <div class="col-md-9 has-success">
                    <input class="form-control input-lg input-24" min="1" type="number" name="qty" value="<%= order.qty %>">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label class="col-md-3 control-label">出貨件數:</label>
                <div class="col-md-9 has-success">
                    <input type="text" disabled class="form-control" value="<%= order.qty_shipped() %>">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label class="col-md-3 control-label">剩下件數:</label>
                <div class="col-md-9 has-success">
                    <input type="text" disabled class="form-control" value="<%= order.qty - order.qty_shipped() %>">
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="form-group form-group-lg">
            <label class="col-md-1 control-label">備註:</label>
            <div class="col-md-11 has-success">
                <input class="form-control input-lg input-24" type="text" name="ordernote" value="<%= order.ordernote %>">
            </div>
        </div>
    </div>
    
        <% var flash = req.flash('message'); %>
        <% if(flash.length) { %>
        <p class="bg-primary text-center">
        <%- flash %>
            </p>
        <% } %>
        
    <div class="row">
        <div class="col-md-12 h3 text-center">
	       <input type="submit" class="btn btn-lg btn-success" value="提交更新">
	       <input type="hidden" name="id" value="<%= order.id %>">
        </div>
    </div>
    </form>
    
    
    
    
	<hr>
    
    
    
    
    
    <form action="/order/show">
        <div class="row">
            <div class="col-md-3 h2"><strong>出貨紀錄</strong></div>
            <div class="col-md-6 text-center h3">
                <input type="submit" class="btn btn-lg btn-success" name="make_duedate" value="加上到期日">
            </div>
        </div>
        
        <input type="hidden" name="id" value="<%= id %>" />
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th>Due Date</th>
        <th>Qty</th>
        <th>出貨日期</th>
        <th>出貨編號/ID</th>
        <th>Lot #</th>
        <th>Edit</th>
    </tr></thead>
    <tbody>
    <% shipments.forEach(function(shipmentitem) { %>
        <tr>
            <td><%= shipmentitem.duedate_string() %></td>
            <td><%= shipmentitem.qty %></td>
            <% if (shipmentitem.shipment_id !== undefined) { %>
                <td><%= shipmentitem.shipment_id.shipmentdate_string() %></td>
                <td><%= shipmentitem.shipment_id.shipment_no %></td>
            <% } else { %>
                <td class="danger text-center" colspan="2">(no shipment record)</td>
            <% } %>
            <td><%= shipmentitem.lot %></td>
            
            <td>
                <a href="/shipmentitem/edit/<%- shipmentitem.id %>" class="btn btn-xs btn-custom">編輯紀錄</a>
            </td>
        </tr>
    <% }); %>
        </tbody>
</table>
    
    
    </form>

</div>