<!--View of a PO and all related shipments-->

<div id="this body" class='container-fluid'>
<!--vvv START: Company header and buttons vvv-->
<%- partial ('../company_header.ejs') %>
<!--^^^ END: Company header and buttons ^^^-->
	<hr>
<!--START: PO Form view-->
    <form action="/order/update" class="form-inline" data-bind="with: pageVM">
        <div class="panel panel-default">
            <div class="panel-heading lightgreen-blend text-center">
                <div class="form-group form-group-lg">
                    <label class="control-label">訂單 </label>
                    <input type="text" placeholder="(<%= order.id %>)" class="form-control" name="orderID" value="<%= order.orderID %>">
                </div>
                    <div class="form-group form-group-lg">
                        <label for="item_name" class="control-label">產品名稱 </label>
                        <input id="item_name" type="text" disabled class="form-control" value="<%= order.MPN.item_label ? order.MPN.item_label : order.MPN.inventory_name %>">
                    </div>
            </div>
            <div class="panel-body lightorange-blend">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <label class="control-label">件數價格 </label>
                                <div class="input-group 
                                        <% if (order.applytax === true) { %>
                                            has-success">
                                        <% } else { %>
                                            has-error">
                                        <% } %>
                                    <div class="input-group-addon">$</div>
                                    <input type="number" step="0.001" class="form-control" name="price" value="<%= order.price %>"

                                        <% if (shipments.length > 0) { %> disabled <% } %>
                                           >
                                    <div class="input-group-addon">
                                        <input type="radio" name="applytax" value="true"  <% if (shipments.length > 0) { %> disabled <% } %> <% if (order.applytax === true) { %> checked <% } %>>應稅
                                        <input type="radio" name="applytax" value="false" <% if (shipments.length > 0) { %> disabled <% } %> <% if (order.applytax !== true) { %> checked <% } %>>無稅
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="row-fluid form-group has-success">
                            <div><label class="control-label">訂單件數 - 出貨件數 = 剩下件數</label></div>
                            <div class="input-group">
                                <input class="form-control text-right" min="1" type="number" name="qty" value="<%= order.qty %>">
                                <div class="input-group-addon input-warning"><span class="glyphicon glyphicon-minus"></span></div>
                                <input type="text" size="14" disabled class="form-control text-center" value="<%= order.qty_shipped() %>">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></div>
                                <input type="text" disabled class="form-control text-left" value="<%= order.qty - order.qty_shipped() %>">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row text-center">
                    <div class="form-group">
                        <label class="control-label">備註</label>
                        <input type="text" size="100%" class="form-control" name="ordernote" value="<%= order.ordernote %>">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <% var flash = req.flash('message'); %>
        <% if(flash.length) { %>
        <p class="bg-primary text-center">
        <%- flash %>
            </p>
        <% } %>

        <div class="row">
            <div class="col-md-12 h3 text-center">
               <input type="submit" class="btn btn-lg btn-success" value="提交以上的更新">
               <input type="hidden" name="id" value="<%= order.id %>">
            </div>
        </div>
    </form>
<!--END: PO Form view-->
    <hr>
<!--SHIPMENT ITEMS LIST LIST-->
    <div class="panel panel-success" data-bind="with: pageVM">
        <div class="panel-heading">
            <div class="panel-title">
                <h2><strong>出貨單項目</strong></h2>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px">
            <table class="table table-condensed table-striped">
                <thead class="text-uppercase">
                    <tr>
                        <th class="text-center">到期日</th>
                        <th class="text-center">數量</th>
                        <th class="text-center">出貨單編號</th>
                        <th class="text-center">出貨日期</th>
                        <th class="text-center">編輯</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: items">
                    <tr data-bind="style: {backgroundColor: saved() ? null : 'lightblue'}">

            <!--        item inventory name    -->
                        <td style="width: 12%">
                            <input class="form-control" type="date" style="width: 100%" data-bind="value: duedate, disable: shippedHighlight(), style: {backgroundColor: shippedHighlight() ? 'darkgrey' : null}">
                        </td>
                        <td style="width: 25%">
                            <div class="input-group" style="width: 100%">
                                <input type="text" 
                                       class="form-control text-right" 
                                       placeholder="數量" 
                                       style="width: 100%" 
                                       data-bind="textInput: qty"> 
                                <div class="input-group-addon" data-bind="text: order.jianshu"></div>
                            </div>
                        </td>
                        <td style="width: 25%" data-bind="style: {backgroundColor: shippedHighlight() ? null : 'pink'}">
                            <div class="input-group" style="width: 100%">
                                <div class="input-group-addon">#</div>
                                <input class="form-control" type="text" placeholder="出貨編號" style="width: 100%" data-bind="textInput: shipment_no">
                            </div>
                        </td>
                        <td style="width: 12%" data-bind="style: {backgroundColor: shippedHighlight() ? null : 'pink'}">
                            <input class="form-control" type="date" style="width: 100%" data-bind="value: shipdate">
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-primary" data-bind="click: $parent.saveitem, disable: saved"><span class="glyphicon glyphicon-save"></span></button>
                                <button class="btn btn-danger" data-bind="click: $parent.removeitem, enable: saved"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
var viewModel = viewModel || {};
var co_name = viewModel.co_name = '<%= cogroup.name %>';
var _csrf = viewModel._csrf = '<%= _csrf %>';
    
    
    
var cogroup = new KO_Cogroup(<%- JSON.stringify(cogroup) %>),
    order = new KO_PurchaseOrder(<%- JSON.stringify(order.MPN) %>,
                                 <%- JSON.stringify(order) %>),
    po_ID = <%= id %>;
addCompanyNavButtons(co_name);
    
function PageModel() {
    var self = this;
    
    
    /**
     * SHIPMENTITEM section controls
     * 
     * 
     */
    self.items = ko.observableArray();
    self.toggleShipped = function(item) {
        item.shipped(!item.shipped());
        
        var index = self.items().indexOf(item);
        self.itemsUpdate(self.items.slice(index, index+1));
    }
    self.addNewItemRow = function() {
        var newItem = new KO_ShipmentItem();
        newItem.order_id = po_ID;
        newItem.saved(false);
        self.items.unshift(newItem);
    };
    self.removeitem= function(item) {
        var params = {
            _csrf: _csrf, 
            co_name: co_name, 
            id: item.id,
            order_id: po_ID,
        };
        post(
            '/database/destroy/shipmentitem',
            params,
            function (response) {
                if (response.status !== 400 && response.order_id === po_ID) {
                    item.id = undefined;
                    item.saved(false);
                    self.items.remove(item);
                } else {
                    if (response.raw && response.raw.code === 'ER_ROW_IS_REFERENCED_2') {
                        alert('An invoice was found for this record. \nThis record cannot be deleted.');
                    } else alert(JSON.stringify(response, null, '  '));
                }
            }
        );
    };
    
    self.saveitem = function(item) {
        item.saved(true);
        var params = {
            _csrf: _csrf, 
            co_name: co_name, 
            item: item
        };
        post(
            '/database/save/shipmentitem',
            params,
            function (response) {
                if (response.status !== 400 && 'shipmentitem' in response) {
                    item.id = response.shipmentitem.id;
                    item.shipment = response.shipment;
                    item.shipment_no(response.shipment.shipment_no);
                    item.shipped(response.shipmentitem.shipped);
                    item.saved(true);
                    if ('created' in response) self.addNewItemRow();
                } else {
                    item.saved(false);
                    alert(JSON.stringify(response, null, '  '));
                }
            }
        );
    };
    
    self.itemsGet = function () {
        var params = {
                _csrf: _csrf, 
                po_id: po_ID,
        };
        post(
            '/database/get/shipmentitems',
            params,
            function (response) {
                response.sort(function (a,b) {
                    return new Date(b.shipment_id.shipmentdate) - new Date(a.shipment_id.shipmentdate);
                });
                self.items.removeAll();
                for (var i=0; i<response.length; i++) {
                    self.items.push(new KO_ShipmentItem(response[i]));
                }
                self.addNewItemRow();
            }
        );
    };
    
    self.itemsGet();
    
    
    
    self.itemsGet22 = function () {
        var params = {
                _csrf: _csrf, 
                id: po_ID,
        };
        post(
            '/database/get/shipments',
            params,
            function (response) {
                console.log('DONE');
            }
        );
    };
    
    self.itemsGet22();
}
    
viewModel.pageVM = new PageModel();
console.dir(viewModel);
ko.applyBindings(viewModel, document.getElementById('this body'));
</script>