<!--Table view of all POs ordered by order date-->
<div id="thisPage" class="container-fluid">
<!--vvv START: Company header and buttons vvv-->
    <div class="row text-center">
        <div class="col-md-4 h1 text-center">
            <div class="row">
                <strong data-bind="text: co_name"></strong>
                <font color="lightgrey">(公司)</font>
            </div>
            <div class="row">
                <form action="/cogroup/toggle" method="post"><input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="cogroup" value="<%= cogroup.name %>">
                    <input type="hidden" name="back" value="/cogroup/show/<%= cogroup.name %>">
                    <div class="btn-group btn-group-lg">
                        <button data-bind="click: cogroup.toggleSupplier, attr: {'class': cogroup.supplierStatus}"> 供應商</button>
                        <button data-bind="click: cogroup.toggleCustomer, attr: {'class': cogroup.customerStatus}"> 客戶</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <div class="btn-group btn-group-lg btn-group-justified hidden-xs">
                    <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-info-sign"></i> <strong>公司與產品訊息</strong></a>
                    <a href="/order/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-pencil"></i> <strong>創造一個訂單</strong></a>
                    <a disabled href="/order/showall/<%= cogroup.name %>" class="active btn btn-custom"><i class="glyphicon glyphicon-folder-open"></i> <strong>管理訂單與到期日</strong></a>
                </div>
                <div class="btn-group btn-group-lg btn-group-justified hidden-xs">
                    <a href="/shipment/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-shopping-cart"></i> <strong>創造出貨單</strong></a>
                    <a disabled href="/invoice/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-usd"></i> <strong>創造發票</strong></a>
                    <a disabled href="/product/show/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-piggy-bank"></i> <strong>管理出貨單與發票</strong></a>
                </div>
            </div>
        </div>
    </div>
<!--^^^ END: Company header and buttons ^^^-->
    
    
    
    
	<hr>


<form action="/order/toggle_open" method="post">
<input type="hidden" name="_csrf" value="<%= _csrf %>" />
<input type="hidden" name="back" value="/order/showall/<%= cogroup.name %>?page=<%= page %>">
<div class="row-fluid h2">
    訂單紀錄
</div>
<br>
<table class="table table-condensed table-striped">
    <thead class="text-uppercase">
        <tr>
            <th></th>
            <th>訂單編號</th>
            <th>選</th>
            <th>使用中</th>
            <th>標籤品名</th>
            <th>價格</th>
    <!--        <th class="text-center">訂單數量</th>-->
            <th class="text-center">剩下數量</th>
            <th class="text-center">已出數量</th>
            <th class="text-center">訂單日期</th>
            <th>備註</th>
        </tr>
    </thead>
    
    <tbody>
    <% orders.forEach(function(order) { %>
        <tr>
                <td>
                    <a href="/order/show/<%- order.id %>" class="btn btn-xs btn-custom">View</a>
                </td>
            
            <td><%= order.orderID %></td>
            
<!--        Product Order selection    -->
            <td style="width: 26px">
                <input style="margin: 0px; width: 26px; height: 26px" type="checkbox" name="orderIDs" value="<%= order.id %>">
            </td>
            
<!--        Product Order selection    -->
            <td>
                <% if (order.is_open === false) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } else { %>
                <font color="green"><abbr title="使用中:Currently open"><span class="glyphicon glyphicon-star"></span></abbr></font>
                <% } %>
            </td>
            
<!--        Product label    -->
            <td>
                <% if (order.MPN.product_label != "") { %>
                <abbr title="內用名稱: <%= order.MPN.inventory_name %>"><%= order.MPN.product_label %></abbr>
                <% } else { %>
                <%= order.MPN.inventory_name %>
                <% } %>
            </td>
            <td class="text-center">$ <%= order.price %></td>
            
<!--        Quantities    -->
                <% if (order.qty === 2147483647) { %>
<!--                <td class="text-right">&infin;</td>-->
                <td class="text-right">&infin; <span class="glyphicon glyphicon-triangle-right"></span></td>
                <td class="text-right"><%= order.qty_shipped() %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>
            <% } else { %>
<!--                <td class="text-right"><%= order.qty %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>-->
                <td class="text-right"><%= order.qty_remaining() %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %> <span class="glyphicon glyphicon-triangle-right"></span></td>
                <td class="text-right"><%= order.qty_shipped() %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>
            <% } %>
            <td class="text-center"><%= order.orderdate_string() %></td>
            <td><%= order.ordernote %></td>
            
        </tr>
    <% }); %>
        </tbody>
</table>

<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <input class="btn btn-lg btn-success" type="submit" name="toggle_open" value="再用/停用">
    </div>
    <div class="col-md-6">
        <a class="btn btn-custom" href="/order/showall/<%= cogroup.name %>?page=<%= page-1 %>"
           <% if (page == 1) { %>
             disabled
            <% } %>><span class="glyphicon glyphicon-arrow-left"></span></a>
        <% for (var i=1; i <= Math.min(8, maxPage); i=i+1) { %>
            <a class="btn btn-custom" href="/order/showall/<%= cogroup.name %>?page=<%= i %>"<% if (page == i) { %>
             disabled
            <% } %>>
                <%=i %>
            </a>
            <% } %>
                <a class="btn btn-custom" href="/order/showall/<%= cogroup.name %>?page=<%= page+1 %>" 
           <% if (page == maxPage) { %>
             disabled
            <% } %>><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
</div>
    </form>
    </div>


<script>
var cogroup = new KO_Cogroup(<%- JSON.stringify(cogroup) %>);
var co_name = '<%= cogroup.name %>';
addCompanyNavButtons(co_name);
var _csrf = '<%= _csrf %>';
    
    
function PageModel() {
    var self = this;
    
}

ko.applyBindings(new PageModel(), document.getElementById("thisPage"));
</script>