
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th>Branch name</th>
        <th>Phone</th>
        <th>Full name</th>
        <th>Tax ID</th>
        <th>Fax</th>
        <th>Address Billing</th>
    </tr></thead>
<!--    <tbody data-bind="foreach: branches">-->
    <tbody>
        <% branches.forEach(function(branch)  { %>
        <tr>
            <td><a href="/branch/edit?name=<%= branch.name %>"><%= branch.name %></a></td>
            <td>&#x260f; <%= branch.phone %></td>
            <td><%= branch.fullname %></td>
            <td><%= branch.tax_id %></td>
            <td><%= branch.fax %></td>
            <td><%= branch.address_billing %></td>
        </tr>
        <% }); %>
    </tbody>
</table>