<div class="row" style="text-align: center">
    <form action="/branch/update" method="post" class="branch-edit">
        <h2>Edit Company Record - <%= branch.name %></h2>
        
        <input type="hidden" name="name" value="<%= branch.name %>" />
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">中文名稱</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="CHINESE FULL NAME" name="fullname" value="<%= branch.fullname %>"></div>
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">英文名稱</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="ENGLISH FULL NAME" name="english_name" value="<%= branch.english_name %>"></div>
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">統一編號</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="TAX ID" name="tax_id" value="<%= branch.tax_id %>"></div>
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">電話號碼</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="PHONE" name="phone" value="<%= branch.phone %>"></div>
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">傳真號碼</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="FAX" name="fax" value="<%= branch.fax %>"></div>
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">電子郵件</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="EMAIL" name="email" value="<%= branch.email %>"></div>
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">公司地址</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="OFFICE ADDRESS" name="address_office" value="<%= branch.address_office %>"></div>
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">送貨地址</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="SHIPPING ADDRESS" name="address_shipping" value="<%= branch.address_shipping %>"></div>
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">送發票地址</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="BILLING ADDRESS" name="address_billing" value="<%= branch.address_billing %>"></div>
        <div class="input-group"><span class="input-group-addon" id="basic-addon1">備註</span><input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="NOTE" name="note" value="<%= branch.note %>"></div>
        <br>
        
        <% var flash = req.flash('message'); %>
        <% if(flash.length) { %>
        <p class="bg-success">
        <%- flash %>
            </p>
        <br>
        <% } %>
        
<div class="row vcenter"><div class="col-md-6">
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="UPDATE" /></div>
    <div class="col-md-6">
        <input type="cancel" class="btn btn-lg btn-danger btn-block" value="EXIT" onclick="javascript:window.location='../../cogroup/show/<%= group %>'" /></div></div>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        
        <br>
        <% if(numberOfRecords > 0 || numberOfContacts > 0) { %>
        <p class="bg-info"><%= numberOfRecords %> order record(s) in the database<br>
        <%= numberOfContacts %> contact(s) in the database</p>
        <% } else { %>
        <a href="/branch/destroy/<%= branch.name %>" class="btn btn-sm btn-danger">Delete</a>
        <% } %>

    </form>
</div>