<!--Table view of all products ordered by products-->

<h2>產品和服務</h2>
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th>公司</th>
        <th>進/出貨</th>
        <th>內用品名</th>
        <th>標籤品名</th>
        <th><abbr title="桶, 包, 瓶, 等...">容器</abbr></th>
        <th><abbr title="# of kg, L, gal per container">容量</abbr></th>
        <th><abbr title="kg, L, gal, etc.">單位</abbr></th>
<!--        <th><abbr title="Price by container or volume?">價格單位</abbr></th>-->
        <th>包裝描述</th>
        <th>備註</th>
        <th></th>
    </tr></thead>
    <tbody>
    <% products.forEach(function(product) { %>
        <tr>
            <td><% if (product.group !== undefined) { %><%= product.group.name %>
                <% } else { %>
                {MPN:<%= product.MPN %>}
                <% } %>
            
            </td>
            <td>
                <span class="badge">
                <% if (product.is_supply === true) { %>
                <abbr title="買:We buy"><span class="glyphicon glyphicon-arrow-right"></span></abbr>
                    <% } else { %>
                    <span class="glyphicon glyphicon-none"></span>
                    <% } %>
                <% if (product.discontinued === false) { %>
                    <span class="glyphicon glyphicon-home"></span>
                    <% } else { %>
                    <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                    <% } %>
                <% if (product.is_supply === false) { %>
                <abbr title="賣:We sell"><span class="glyphicon glyphicon-arrow-right"></span></abbr>
                    <% } else { %>
                    <span class="glyphicon glyphicon-none"></span>
                    <% } %>
                    </span>
            </td>
            <td>
                <font color=<% if (product.product_label != "") { %>
                "grey"
                <% } else { %>
                "black"
                <% } %>>
                <% if (product.english_name != "") { %>
                    <abbr title="<%= product.english_name %>"><%= product.inventory_name %></abbr>
                <% } else { %>
                    <%= product.inventory_name %>
                <% } %>
            </font>
                
                <% if (product.discontinued === true) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } %>
            </td>
            <td><%= product.product_label %></td>
            <td><%= product.SKU %><% if (product.unitpriced === false) { %>
                <span class="badge"><abbr title="Priced by container" class="glyphicon glyphicon-usd"></abbr></span>
                <% } %></td>
            <td><%= product.units %></td>
            <td><%= product.UM %><% if (product.unitpriced === true) { %>
                <span class="badge"><abbr title="Priced by unit" class="glyphicon glyphicon-usd"></abbr></span>
                <% } %></td>
            <td><%= product.SKUlong %></td>
            <td><%= product.note %></td>
            
            
                <td><a href="/product/edit/<%= product.MPN %>" class="btn btn-xs btn-custom">Edit</a>
                </td>
        </tr>
    <% }); %>
        </tbody>
</table>