
<!-- Modal: Create Shipment from POs -->
<div class="modal fade" id="createShipmentModal" tabindex="-1" role="dialog" aria-labelledby="createShipmentModal">
    <div class="modal-dialog modal-lg" role="document">
        <form class="panel" autocomplete="off"
              action="/shipment/create" method="post">
            <div class="modal-header lightgreen-blend">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center">創造出貨單</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-md-3 control-label">台茂</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="us" required>
                                    <option value="台茂">台茂</option>
                                    <option value="永茂">永茂</option>
                                    <option value="富茂">富茂</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-md-3 control-label">客戶</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="them" required>
                                <% cogroup.branches.forEach(function(branch) { %>
                                <option value="<%= branch.name %>"><%= branch.name %> : <%= branch.tax_id %> : <%= branch.fullname %></option>
                                <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-4 control-label">貨單日期</label>
                            <div class="col-md-8 has-success">
                                <input type="date" class="form-control" name="shipmentdate" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-md-3 control-label">聯 絡 人</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="contact">
                                <% cogroup.contacts.forEach(function(contact) { %>
                                <option value="<%= contact.id %>"><%= contact.position %> : <%= contact.name %> : <%= contact.phone %></option>
                                <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-4 control-label">貨單編號</label>
                            <div class="col-md-8 has-success input-group">
                                <input type="text" class="form-control" maxlength="15" placeholder="" name="shipment_no" data-bind="textInput: shipment_no">

                                <span class="input-group-btn">
                                    <button class="btn btn-custom" type="button" style="padding: 3px"
                                            data-bind="click: function () {computeAvailableNumber()}">
                                        新編號
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label">送貨地址</label>
                            <div class="col-md-9 has-success">
                                <input type="text" class="form-control" placeholder="" name="shipmentdest">
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-condensed">
                    <thead>
                        <td></td>
                        <td>品名</td>
                        <td align="center">出貨量</td>
                    </thead>
                    <tbody data-bind="foreach: products">
                        <tr class="vertical-middle" data-bind="if: isSelected">
                            <td>
                                <input type="hidden" name="PO" data-bind="value: 'default'">
                                <input type="hidden" name="is_supply" data-bind="value: is_supply">
                                <input type="hidden" name="MPN" data-bind="value: MPN">
                                <input type="hidden" name="price" data-bind="value: curr_price">
                            </td>
                            <td data-bind="text: inventory_name"></td>
                            <td align="center">
                                <div class="input-group">
                                    <input name="qty" type="text" required
                                           class="form-control text-right"
                                           style="width: 8em; font-size: 16px"
                                           data-bind="textInput: qtyRequested">
                                    <div class="input-group-addon">kg</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer lightgreen-blend">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <input type="hidden" name="group" value="<%= cogroup.name %>" />
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-success">提交</button>
            </div>
        </form>
    </div>
</div>
