<div class='container'>
    <div class="row">
        <div class="col-md-4">
            <h1><span><%= cogroup.name %></span><font color="lightgrey">(公司)</font></h1>
            
        </div>
        <div class="col-md-4">
            <h2>
            <a href="/cogroup/toggle_supplier/<%= cogroup.name %>" class=
        <% if (cogroup.is_supplier) { %>
                "glyphicon glyphicon-ok btn btn-success"
        <% } else { %>
            "glyphicon glyphicon-remove btn btn-danger"
        <% } %>
                > 供應商</a>
            <a href="/cogroup/toggle_customer/<%= cogroup.name %>" class=
        <% if (cogroup.is_customer) { %>
                "glyphicon glyphicon-ok btn btn-success"
        <% } else { %>
            "glyphicon glyphicon-remove btn btn-danger"
        <% } %>
                > 客戶</a>
            <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn-custom">聯絡信息</a>
                
                </h2>
        </div>
    </div>
    
	<hr>
    
    <h2>產品和服務</h2>
    
    <form action="/order/new">
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th></th>
        <th>內用品名</th>
        <th>標籤品名</th>
        <th><abbr title="桶, 包, 瓶, 等...">容器</abbr></th>
        <th><abbr title="# of kg, L, gal per container">容量</abbr></th>
        <th><abbr title="kg, L, gal, etc.">單位</abbr></th>
<!--        <th><abbr title="Price by container or volume?">價格單位</abbr></th>-->
        <th>包裝描述</th>
        <th>備註</th>
        <th></th>
    </tr></thead>
    <tbody>
    <% products.forEach(function(product) { %>
        <tr>
            <td>
                <span class="badge">
                <% if (product.is_supply === true) { %>
                <abbr title="買:We buy"><span class="glyphicon glyphicon-arrow-right"></span></abbr>
                    <% } else { %>
                    <span class="glyphicon glyphicon-none"></span>
                    <% } %>
                <% if (product.discontinued === false) { %>
                    <span class="glyphicon glyphicon-home"></span>
                    <% } else { %>
                    <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                    <% } %>
                <% if (product.is_supply === false) { %>
                <abbr title="賣:We sell"><span class="glyphicon glyphicon-arrow-right"></span></abbr>
                    <% } else { %>
                    <span class="glyphicon glyphicon-none"></span>
                    <% } %>
                    </span>
            </td>
            
<!--        Product Manifest selection    -->
            <td>
                
                
                <% if (product.discontinued === true) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } else { %>
                <input type="checkbox" name="product" value="<%= product.MPN %>">
                <% } %>
            </td>
            
            
<!--        Product inventory name    -->
            <td>
                <font color=<% if (product.product_label != "") { %>
                "grey"
                <% } else { %>
                "black"
                <% } %>>
                <% if (product.MPN != "") { %>
                    <abbr title="<%= product.MPN %>"><%= product.inventory_name %></abbr>
                <% } else { %>
                    <%= product.inventory_name %>
                <% } %>
            </font>
                
                <% if (product.discontinued === true) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } %>
                
                <% if (product.orders.length > 0) { %>
                <a href="/order/show/<%- product.orders[0].id %>" class="btn btn-xs btn-custom">使用中PO</a>
                <% } %>
            </td>
            <td><%= product.product_label %></td>
            <td><%= product.SKU %><% if (product.unitpriced === false) { %>
                <span class="badge"><abbr title="Priced by container" class="glyphicon glyphicon-usd"></abbr></span>
                <% } %></td>
            <td><%= product.units %></td>
            <td><%= product.UM %><% if (product.unitpriced === true) { %>
                <span class="badge"><abbr title="Priced by unit" class="glyphicon glyphicon-usd"></abbr></span>
                <% } %></td>
            <td><%= product.SKUlong %></td>
            <td><%= product.note %></td>
            
            
                <td>
                    <a href="/product/edit/<%- product.MPN.split('%').join('-percent-') %>" class="btn btn-xs btn-custom">編輯產品信息</a>
                </td>
        </tr>
    <% }); %>
        </tbody>
</table>
    
    
	<a class="btn btn-medium btn-primary" href="/product/new/<%= cogroup.name %>">Add product</a>
	<input type="submit" class="btn btn-medium btn-primary" name="make_manifest" value="Create Manifest">
	<input type="submit" class="btn btn-medium btn-primary" name="make_po" value="Create PO">
    
    </form>

</div>