<!--Table view of all products for a single company-->

<div class='container'>
    <div class="row">
        <div class="col-md-4 h1">
            <strong><%= cogroup.name %></strong><font color="lightgrey">(公司)</font>
            
        </div>
        <div class="col-md-8">
            <div class="btn-group-vertical">
            <a href="/cogroup/toggle_supplier/<%= cogroup.name %>" class=
        <% if (cogroup.is_supplier) { %>
                "glyphicon glyphicon-ok btn btn-success"
        <% } else { %>
            "glyphicon glyphicon-remove btn btn-danger"
        <% } %>
                > 供應商</a>
            <a href="/cogroup/toggle_customer/<%= cogroup.name %>" class=
        <% if (cogroup.is_customer) { %>
                "glyphicon glyphicon-ok btn btn-success"
        <% } else { %>
            "glyphicon glyphicon-remove btn btn-danger"
        <% } %>
                > 客戶</a>
                </div>
            <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn-custom">公司信息</a>
            <a href="/product/show/<%= cogroup.name %>" class="btn btn-custom">管理訂單</a>
            <a href="/order/showall/<%= cogroup.name %>" class="btn btn-custom">訂單歷史</a>
        </div>
    </div>
    
    
    
    
	<hr>
    
<!--CREATE A SHIPMENT FROM PO LIST-->
    
    
    <div class="row-fluid">
    <h2 class="col-md-6">訂單</h2>
        </div>
    
    <form action="/shipment/new">
<table class="table table-condensed">
    <thead class="text-uppercase">
        <tr>
            <th></th>
            <th>訂單編號</th>
            <th>選</th>
            <th>標籤品名</th>
            <th>價格</th>
    <!--        <th class="text-center">訂單數量</th>-->
            <th class="text-center">已出數量</th>
            <th class="text-center">剩下數量</th>
            <th class="text-center">下次到期日</th>
            <th>備註</th>
        </tr>
    </thead>
    <tbody>
    <% orders.forEach(function(order) { %>
        <tr>
                <td>
                    <a href="/order/show/<%- order.id %>" class="btn btn-xs btn-custom">View</a>
                </td>
            
            <td><%= order.orderID %></td>
            
<!--        Product Manifest selection    -->
            <td>
                
                
                <% if (order.MPN.discontinued === true) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } else { %>
                <input type="checkbox" name="orderIDs" value="<%= order.id %>">
                <% } %>
            </td>
            
<!--        Product label    -->
            <td>
                <% if (order.MPN.product_label != "") { %>
                <abbr title="內用名稱: <%= order.MPN.inventory_name %>"><%= order.MPN.product_label %></abbr>
                <% } else { %>
                <%= order.MPN.inventory_name %>
                <% } %>
            </td>
            <td class="text-center">$ <%= order.price %></td>
            
<!--        Quantities    -->
                <% if (order.qty === 2147483647) { %>
<!--                <td class="text-right">&infin;</td>-->
                <td class="text-right"><%= order.qty_shipped() %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>
                <td class="text-right">&infin;</td>
            <% } else { %>
<!--                <td class="text-right"><%= order.qty %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>-->
                <td class="text-right"><%= order.qty_shipped() %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>
                <td class="text-right"><%= order.qty - order.qty_shipped() %> <%= order.MPN.SKU !== '槽車' ? order.MPN.SKU : order.MPN.UM %></td>
            <% } %>
            <td class="text-center"><%= order.duedate_string() %></td>
            <td><%= order.ordernote %></td>
            
        </tr>
    <% }); %>
        </tbody>
</table>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <input type="hidden" name="back" value="/product/show/<%= cogroup.name %>">
            <input type="submit" class="btn btn-lg btn-success" name="make_shipment" value="創造訂單的出貨單">
            
            <a href="/order/showall/<%= cogroup.name %>" class="btn btn-lg btn-success">看訂單歷史</a>
        </div>
        <div class="col-md-6 input-24 text-right">
            <span class="label label-warning">已停用的訂單藏起來了. 看公司信息.</span>
        </div>
    </div>
    </form>
                
                
    
	<hr>
    
    
    
    <div class="row-fluid">
    <h2 class="col-md-6">產品/服務</h2>
        </div>
    
    <form action="/order/new">
<table class="table table-condensed">
    <thead class="text-uppercase"><tr>
        <th></th>
        <th>選</th>
        <th>內用品名</th>
        <th>標籤品名</th>
        <th><abbr title="桶, 包, 瓶, 等...">容器</abbr></th>
        <th><abbr title="# of kg, L, gal per container">容量</abbr></th>
        <th><abbr title="kg, L, gal, etc.">單位</abbr></th>
<!--        <th><abbr title="Price by container or volume?">價格單位</abbr></th>-->
        <th>包裝描述</th>
        <th>備註</th>
        <th>編輯</th>
    </tr></thead>
    <tbody>
    <% products.forEach(function(product) { %>
        <tr>
            <td>
                <span class="badge">
                <% if (product.is_supply === true) { %>
                <abbr title="買:We buy"><span class="glyphicon glyphicon-arrow-right"></span></abbr>
                    <% } else { %>
                    <span class="glyphicon glyphicon-none"></span>
                    <% } %>
                <% if (product.discontinued === false) { %>
                    <span class="glyphicon glyphicon-home"></span>
                    <% } else { %>
                    <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                    <% } %>
                <% if (product.is_supply === false) { %>
                <abbr title="賣:We sell"><span class="glyphicon glyphicon-arrow-right"></span></abbr>
                    <% } else { %>
                    <span class="glyphicon glyphicon-none"></span>
                    <% } %>
                    </span>
            </td>
            
<!--        Product Manifest selection    -->
            <td>
                
                
                <% if (product.discontinued === true) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } else { %>
                <input type="checkbox" name="product" value="<%= product.MPN %>">
                <% } %>
            </td>
            
            
<!--        Product inventory name    -->
            <td>
                <font color=<% if (product.product_label != "") { %>
                "grey"
                <% } else { %>
                "black"
                <% } %>>
                <% if (product.MPN != "") { %>
                    <abbr title="<%= product.MPN %>"><%= product.inventory_name %></abbr>
                <% } else { %>
                    <%= product.inventory_name %>
                <% } %>
            </font>
                
                <% if (product.discontinued === true) { %>
                <font color="red"><abbr title="已停用:Not currently used"><span class="glyphicon glyphicon-ban-circle"></span></abbr></font>
                <% } %>
                
                <% if (product.orders.length > 0) { %>
                <a href="/order/show/<%- product.orders[0].id %>" class="btn btn-xs btn-custom">使用中PO</a>
                <% } %>
            </td>
            <td><%= product.product_label %></td>
            <td><%= product.SKU %><% if (product.unitpriced === false) { %>
                <span class="badge"><abbr title="Priced by container" class="glyphicon glyphicon-usd"></abbr></span>
                <% } %></td>
            <td class="text-right"><%= product.units %></td>
            <td><%= product.UM %><% if (product.unitpriced === true) { %>
                <span class="badge"><abbr title="Priced by unit" class="glyphicon glyphicon-usd"></abbr></span>
                <% } %></td>
            <td><%= product.SKUlong %></td>
            <td><%= product.note %></td>
            
            
                <td>
                    <a href="/product/edit/<%- product.MPN.split('%').join('-percent-') %>" class="btn btn-xs btn-custom">編輯</a>
                </td>
        </tr>
    <% }); %>
        </tbody>
</table>
    
    
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <input type="submit" class="btn btn-lg btn-success" name="make_po" value="創造訂單">
            <input type="submit" class="btn btn-lg btn-success" name="make_shipment" value="創造出貨單(自動訂單)">
        </div>
        <div class="col-md-6 input-24 text-right">
            <span class="label label-warning">已停用的產品藏起來了. 看公司信息.</span>
        </div>
    </div>
    </form>

</div>