<div class="panel panel-success" style="margin: 0px" data-bind="with: ShipmentsVM">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4 col-sm-push-4 text-center">
                <button class="btn btn-lg btn-success" data-bind="click: showModal">創造出貨單 <span class="badge">Enter</span></button>
            </div>
            <div class="col-sm-4 col-sm-pull-4">
                <ul class="nav nav-tabs">
                    <li id="tab" data-bind="css: {active: po_tab}">
                        <a href="#" data-bind="click: toggleTab">
                            <strong>訂單</strong>
                        </a>
                    </li>
                    <li id="tab" data-bind="css: {active: prod_tab}">
                        <a href="#" data-bind="click: toggleTab">
                            <strong>產品</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div data-bind="visible: po_tab" style="padding: 0px; overflow-y:scroll; height:84vh;">
            <table class="table table-condensed table-striped table-bordered">
                <thead class="text-uppercase">
                    <tr>
                        <th>選</th>
                        <th>
                            訂單編號
                        </th>
                        <th>
                            品名
                            <span class="label label-primary">產品備註</span>
                        </th>
                        <th class="text-center">
                            價格
                        </th>
                        <th class="text-center">
                            數量 容器
                        </th>
                        <th class="text-center">
                            備註
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: orders">
                    <tr>
            <!--        Product Manifest selection    -->
                        <td style="width: 30px" data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply ? null : '#b0b0b0'}">
                            <input style="margin: 0px; width:26px; height:26px; vertical-align: top;"
                                   type="checkbox"
                                   name="purchaseorder"
                                   data-bind="checked: selected,
                                              enable: $parent.isPurchase() === null || $parent.isPurchase() === is_supply">
                        </td>

            <!--        Product inventory name    -->
                        <td style="padding: 3px 3px" class="text-left" data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply ? null : '#b0b0b0'}">
                            <a style="padding: 2px 10px" class="btn btn-custom" data-bind="attr: {href: '/order/show/' + id}">
                                <strong data-bind="text: orderID"></strong>
                                <span class="badge" data-bind="text: id"></span>
                                <i class="fa fa-truck fa-flip-horizontal"></i><i class="fa fa-truck fa-flip-horizontal"></i>
                            </a>
                        </td>
                        <td data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply ? null : '#b0b0b0'}">
                            <span data-bind="text: label"></span> <span class="label label-primary" data-bind="text: id_note"></span>
                        </td>
                        <td class="text-center" data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply ? null : '#b0b0b0'}">
                            $ <span data-bind="text: price"></span> <span data-bind="text: pricing"></span>
                        </td>
                        <td class="text-center" style="width: 40%" data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply ? null : '#b0b0b0'}">
                            <span data-bind="text: qty"></span> <span data-bind="text: sku"></span>
                        </td>
                        <td data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply ? null : '#b0b0b0'}">
                            <span class="label label-primary" data-bind="text: ordernote"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-bind="visible: prod_tab" style="padding: 0px; overflow-y:scroll; height:84vh;">
            <table class="table table-condensed table-striped table-bordered">
                <thead class="text-uppercase">
                    <tr>
                        <th>選</th>
                        <th>
                            品名
                        </th>
                        <th class="text-center">
                            價格 / 單位
                        </th>
                        <th class="text-center">
                            容量 / 容器
                        </th>
                        <th>
                            <span class="label label-primary">備註</span>
                            <span class="badge">標籤</span>
                            <span class="label label-success">英文</span>
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: products">
                    <tr>
            <!--        Product Manifest selection    -->
                        <td data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply() ? null : '#b0b0b0'}">
                            <input style="margin: 0px; width:26px; height:26px; vertical-align: top;"
                                   type="checkbox"
                                   name="product"
                                   data-bind="checked: selected, enable: $parent.isPurchase() === null || $parent.isPurchase() === is_supply()">
                            <button style="padding: 3px 6px; vertical-align: top;" class="btn btn-sm btn-custom" data-bind="click: $parent.showMEModal">
<!--                                    <i class="fa fa-truck fa-flip-horizontal"></i><i class="fa fa-truck fa-flip-horizontal"></i>-->

                                <i class="fa fa-ambulance" data-bind="visible: is_supply"></i>
                                <i class="fa fa-ambulance" data-bind="visible: is_supply"></i>
                                <i class="fa fa-truck fa-flip-horizontal" data-bind="visible: !is_supply()"></i>
                                <i class="fa fa-truck fa-flip-horizontal" data-bind="visible: !is_supply()"></i>
                            </button>
                        </td>

            <!--        Product inventory name    -->
                        <td data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply() ? null : '#b0b0b0'}">
                            <span data-bind="text: inventory_name"></span>
                        </td>
                        <td class="text-center" data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply() ? null : '#b0b0b0'}">
                            $ <span data-bind="text: curr_price"></span> <span data-bind="text: pricing"></span>
                        </td>
                        <td class="text-center" data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply() ? null : '#b0b0b0'}">
                            <span data-bind="text: units() + ' ' + UM()"></span> / <span data-bind="text: SKU"></span>
                        </td>
                        <td data-bind="style: {backgroundColor: $parent.isPurchase() === null || $parent.isPurchase() === is_supply() ? null : '#b0b0b0'}">
                            <span class="label label-primary" data-bind="text: note"></span>
                            <label class="badge" data-bind="text: product_label"></label>
                            <span style="white-space: normal;" class="label label-success" data-bind="text: english_name"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--START: Shipment form-->
<div data-bind="with: ShipmentsVM">
    <div id="form modal" class="modal" data-bind="style: {display: modalVisible() ? 'block' : 'none'}">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="text-center">出貨單</h2>
            </div>
            <form action="/shipment/create" method="post" class="form-horizontal">
                <div class="panel-body">

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-md-3 control-label">台茂</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="us" required>
                                    <option value="台茂">台茂</option>
                                    <option value="永茂">永茂</option>
                                    <option value="富茂">富茂</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-md-3 control-label">客戶</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="them" required>
                                <% cogroup.branches.forEach(function(branch) { %>
                                <option value="<%= branch.name %>"><%= branch.name %> : <%= branch.tax_id %> : <%= branch.fullname %></option>
                                <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-4 control-label">貨單日期</label>
                            <div class="col-md-8 has-success">
                                <input type="date" class="form-control" name="shipmentdate" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-md-3 control-label">聯 絡 人</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="contact">
                                <% cogroup.contacts.forEach(function(contact) { %>
                                <option value="<%= contact.id %>"><%= contact.position %> : <%= contact.name %> : <%= contact.phone %></option>
                                <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-4 control-label">貨單編號</label>
                            <div class="col-md-8 has-success">
                                <input type="text" class="form-control" maxlength="15" placeholder="" name="shipment_no" data-bind="textInput: shipment_no">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label">送貨地址</label>
                            <div class="col-md-9 has-success">
                                <input type="text" class="form-control" placeholder="" name="shipmentdest">
                            </div>
                        </div>
                    </div>
                </div>



        <table class="table table-condensed table-striped">
            <thead class="text-uppercase">
                <tr>
                    <th class="text-center">品 名</th>
                    <th class="text-center">規格/包裝</th>
                    <th class="text-center">件數</th>
                    <th class="text-center">數量</th>
                    <th class="text-center">價格</th>
                    <th class="text-center">出貨資訊</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: rows">
                <tr>
                    <td class="text-left" data-bind="text: label"></td>
                    <td class="text-center" data-bind="text: guige"></td>
                    <td style="width: 20%">
                        <input type="hidden" name="PO" data-bind="value: id">
                        <input type="hidden" name="is_supply" data-bind="value: is_supply">
                        <input type="hidden" name="MPN" data-bind="value: MPN">
                        <div class="input-group has-success">
                            <input style="font-size: 18px; width: 100%" type="number" min=1 size="2" class="form-control text-right" name="qty"  data-bind="textInput: qty, attr: {max: qtymax}" required>
                            <div class="input-group-addon" data-bind="text: jianshu"></div>
                        </div>
                    </td>
                    <td class="text-center" data-bind="text: totalUnits"></td>
                    <td class="text-center" style="width: 15%">
                        <div class="input-group has-success">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control" name="price" step="0.0001" data-bind="attr: {readonly: $parent.isPO}, textInput: price">
                        </div>
                    </td>
                    <td class="text-left" data-bind="text: id_note"></td>
                </tr>
                </tbody>
        </table>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label">備註</label>
                            <div class="col-md-9 has-success">
                                <input type="text" class="form-control" name="shipmentnote">
                            </div>
                        </div>
                    </div>
                </div>

                </div>
                <div class="panel-footer lightorange-blend">

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-lg btn-danger" data-bind="click: exitModal">回到列表 <span class="badge">Esc</span></button>
                            <input type="submit" class="btn btn-lg btn-medium btn-success" name="make_po_shipment" value="創造新出貨單">
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                            <input type="hidden" name="group" value="<%= cogroup.name %>" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--END: Shipment form-->

<!--START: Multi entry modal for one product-->
<%- partial ('../shipment/multi.ejs') %>
<!--END: Multi entry modal for one product-->


<script>
var viewModel = viewModel || {};
var co_name = viewModel.co_name = '<%= cogroup.name %>';
var _csrf = viewModel._csrf = '<%= _csrf %>';

var cogroup = new KO_Cogroup(<%- JSON.stringify(cogroup) %>);

var key = {
    ESC: 27,
    ENTER: 13
};

viewModel.ShipmentsVM = new (function () {
    var self = this;


    self.modalVisible = ko.observable(false);
    self.showModal = function(clickedItem) {
        if (self.rows().length == 0) {
            alert('Select at least one item from list.\n選擇至少一個項目.');
            return;
        }

        if (self.rows().length > 5) {
            alert('Select no more than five items.\n限制五個選擇.');
            return;
        }

        self.modalVisible(true);
    };
    self.exitModal = function(clickedItem) {
        self.modalVisible(false);
    };


    self.lastSelection = ko.observable(null);

    self.showMEModal = function(clickedItem) {
        viewModel.multiModalVM.open(clickedItem.MPN);
    };

    document.onkeydown = function(evt) {
        // Exit any modal if displayed.
        if (evt.keyCode == key.ESC) {
            self.exitModal();
            viewModel.multiModalVM.multiEntryVisible(false);
        }
        // Enter the normal shipment form.
        if (evt.keyCode == key.ENTER && self.modalVisible() == false && viewModel.multiModalVM.multiEntryVisible() == false) {
            self.showModal();
        }
    };

    self.po_tab = ko.observable(true);
    self.prod_tab = ko.observable(false);

    self.toggleTab = function (whatami) {
        self.po_tab(!self.po_tab());
        self.prod_tab(!self.prod_tab());

        for (var i=0; i<self.orders().length; i++) {
            self.orders()[i].selected(false);
        }
        for (var i=0; i<self.products().length; i++) {
            self.products()[i].selected(false);
        }
    };


    self.products = ko.observableArray();
    self.productsGet = function () {
        params = {
            _csrf: _csrf,
            id: co_name,
        };
        callback = function (products) {
            self.products.removeAll();
            for (var i=0; i<products.length; i++) {
                if (!products[i].discontinued) {
                    self.products.push(new KO_Product(products[i]));
                }
            }
        };
        getProducts(params, callback);
    };
    self.productsGet();




    self.orders = ko.observableArray();
    self.ordersGet = function () {
        params = {
            _csrf: _csrf,
            id: co_name,
        };
        callback = function (orders) {
            self.orders.removeAll();
            for (var i=0; i<orders.length; i++) {
                if (orders[i].is_open) {
                    self.orders.push(new KO_PurchaseOrder(orders[i].MPN, orders[i]));
                }
            }
            // If no orders then set view to product list.
            if (self.orders().length == 0) {
                self.prod_tab(true);
                self.po_tab(false);
            }
        };
        getOrders(params, callback);
    };
    self.ordersGet();

    self.isPO = ko.observable(true);
    self.rows = ko.observableArray([]);
    self.isPurchase = ko.observable(null);
    self.shipment_no = ko.observable();

    // Retrieve a new shipment number from database.
    // AJAJ request for product record
    ko.computed(function () {
        if (self.isPurchase() === false) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState !== 4) return;
                console.log(xmlhttp);
                if (!xmlhttp.response) {
                    alert("Response is empty");
                    return;
                }

                self.shipment_no(xmlhttp.responseText);
            };
            xmlhttp.open('GET', '/shipment/availableNumber', true);
            xmlhttp.send();
        } else {
            self.shipment_no('');
        }
    });

    /**
     * Evaluate selected items.
     * This could alternatively be done when Enter is pressed.
     */
    ko.computed(function () {
        self.isPurchase(null);
        self.rows.removeAll();
        for (var i=0; i<self.orders().length; i++) {
            if (self.orders()[i].selected()) {
                var item = new ShipmentItemRow(ko.toJS(self.orders.peek()[i]));
                self.isPurchase(item.is_supply);
                self.rows.push(item);
                self.isPO(true);
            }
        }
        for (var i=0; i<self.products().length; i++) {
            if (self.products()[i].selected()) {
                var item = new ShipmentItemRow(ko.toJS(self.products.peek()[i]));
                self.isPurchase(item.is_supply);
                self.rows.push(item);
                self.isPO(false);
            }
        }
        console.log('ENDING', self.isPurchase.peek());
    });

});
</script>
