
<div class="container">
    <div class="row">
        <h2 class="col-md-12 text-center h1">出貨單</h2>
    </div>

    <form action="/shipment/create" method="post" class="form-horizontal">
        
        <div class="row">
            <div class="col-md-7">
                <div class="form-group form-group-lg">
                    <label class="col-md-3 control-label">賣家</label>
                    <div class="col-md-9 has-success">
                        <select class="form-control" name="seller">
                            <% seller.branches.forEach(function(branch) { %>
                            <option value="<%= branch.name %>"><%= branch.name %> : <%= branch.tax_id %> : <%= branch.fullname %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-7">
                <div class="form-group form-group-lg">
                    <label class="col-md-3 control-label">客戶名稱</label>
                    <div class="col-md-9 has-success">
                        <select class="form-control" name="buyer">
                        <% buyer.branches.forEach(function(branch) { %>
                        <option value="<%= branch.name %>"><%= branch.name %> : <%= branch.tax_id %> : <%= branch.fullname %></option>
                        <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group form-group-lg">
                    <label class="col-md-4 control-label">貨單日期</label>
                    <div class="col-md-8 has-success">
                        <input type="date" class="form-control" name="shipmentdate" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group form-group-lg">
                    <label class="col-md-3 control-label">聯 絡 人</label>
                    <div class="col-md-9 has-success">
                        <select class="form-control" name="contact">
                        <% group.contacts.forEach(function(contact) { %>
                        <option value="<%= contact.id %>"><%= contact.position %> : <%= contact.name %> : <%= contact.phone %></option>
                        <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group form-group-lg">
                    <label class="col-md-4 control-label">貨單編號</label>
                    <div class="col-md-8 has-success">
                        <input type="text" class="form-control" maxlength="8" placeholder="" name="shipment_no">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-lg">
                    <label class="col-md-2 control-label">送貨地址</label>
                    <div class="col-md-9 has-success">
                        <input type="text" class="form-control" placeholder="" name="shipmentdest">
                    </div>
                </div>
            </div>
        </div>
        
        
        
<table class="table table-condensed">
    <thead class="text-uppercase">
    <tr>
        <th class="text-center">品 名</th>
        <th class="text-center">規格/包裝</th>
        <th class="text-center">件數</th>
        <th class="text-center">數量</th>
        <th class="text-center">出貨資訊</th>
    </tr></thead>
    <tbody data-bind="foreach: rows">
        <tr>
            <td class="text-left" data-bind="text: label"></td>
            <td class="text-center" data-bind="text: guige"></td>
            <td class="col-md-2">
            <div class="input-group has-success">
                <input type="hidden" name="PO" data-bind="value: id">
                <input style="font-size: 18px;" type="number" min=1 max=100000 size="2" class="form-control text-right" name="qty"  data-bind="value: qty" required />
                <div class="input-group-addon" data-bind="text: jianshu"></div>
            </div>
            </td>
            <td class="text-center" data-bind="text: totalUnits"></td>
            <td class="text-left" data-bind="text: id_note"></td>
        </tr>
        </tbody>
</table>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-lg">
                    <label class="col-md-2 control-label">備註</label>
                    <div class="col-md-9 has-success">
                        <input type="text" class="form-control" name="shipmentnote">
                    </div>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <input type="submit" class="btn btn-lg btn-medium btn-success" name="make_po_shipment" value="創造新出貨單">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <input type="hidden" name="group" value="<%= group.name %>" />
            <input type="hidden" name="back" value="<%= back %>" />
        </div>
    </div>
    </form>
    
    </div>

<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
<script>
function ShipmentItemRow(order) {
    var self = this;
    self.id = order.id;
    self.label = order.MPN.product_label ? order.MPN.product_label : order.MPN.inventory_name;
    self.sku = order.MPN.SKU;
    self.guige = order.MPN.SKU;
    self.qty = ko.observable();
    self.um = order.MPN.UM;
    self.jianshu = self.sku !== '槽車' ? self.sku : self.um;
    self.id_note = order.orderID + ' ' + order.MPN.note;
    self.units = parseFloat(order.MPN.units);
    if (self.guige !== '槽車') {
        self.guige = [self.units, self.um, '/', self.guige].join(' ');
    }
    
    self.totalUnits = ko.computed(function () {
        var val = parseInt(self.qty()) * self.units;
        if (!isNaN(val)) {
            return val.toString() + ' ' + self.um;
        } else {
            return '0 ' + self.um;
        }
    });
    
}

function ItemsModel() {
    var self = this;
    
    self.orders = <%- JSON.stringify(orders, null, ' ') %>;
    
    self.rows = ko.observableArray([]);
    
    for (var i=0; i<self.orders.length; i=i+1) {
        self.rows.push(new ShipmentItemRow(self.orders[i]));
    }
}

ko.applyBindings(new ItemsModel());

</script>