
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-tabs nav-justified">
                <li data-bind="css: {active: po_tab}">
                    <a href="#" data-bind="click: toggleTab">
                        <strong>訂單</strong>
                    </a>
                </li>
                <li data-bind="css: {active: prod_tab}">
                    <a href="#" data-bind="click: toggleTab">
                        <strong>產品</strong>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div  data-bind="visible: po_tab" style="padding: 0px; overflow-y:scroll; height:75vh;">
                    <table class="table table-condensed">
                        <thead class="text-uppercase">
                            <tr>
                                <th>選</th>
                                <th>
                                    訂單編號 - 產品名稱
                                    <span class="label label-primary">備註</span>
                                </th>
                                <th class="text-center">
                                    數量 容器
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: orders">
                            <tr>            
                    <!--        Product Manifest selection    -->
                                <td>
                                    <input style="width:26px; height:26px;" type="checkbox" name="purchaseorder" data-bind="checked: selected">
                                </td>

                    <!--        Product inventory name    -->
                                <td>
                                    <a data-bind="attr: {href: '/order/show/' + id}">PO#: <span data-bind="text: orderID"></span></a> <span class="label label-primary" data-bind="text: ordernote"></span>
                                    <br>
                                    <span data-bind="text: label"></span> <span class="label label-primary" data-bind="text: id_note"></span>
                                </td>
                                <td class="text-right" style="width: 25%">
                                    <span data-bind="text: qty"></span> <span data-bind="text: sku"></span>
                                    <br>
                                    $ <span data-bind="text: price"></span> <span data-bind="text: pricing"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div data-bind="visible: prod_tab" style="padding: 0px; overflow-y:scroll; height:75vh;">
                    <table class="table table-condensed">
                        <thead class="text-uppercase">
                            <tr>
                                <th>選</th>
                                <th>
                                    品名
                                    <span class="label label-primary">備註</span>
                                    <span class="badge">標籤</span>
                                    <span class="label label-success">英文</span>
                                </th>
                                <th class="text-center">
                                    容量 / 容器
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: products">
                            <tr>            
                    <!--        Product Manifest selection    -->
                                <td>
                                    <input style="width:26px; height:26px;" type="checkbox" name="product" data-bind="checked: selected">
                                </td>

                    <!--        Product inventory name    -->
                                <td>
                                    <span data-bind="text: inventory_name"></span> <span class="label label-primary" data-bind="text: note"></span>
                                    <br>
                                    <label class="badge" data-bind="text: product_label"></label>
                                    <span style="white-space: normal;" class="label label-success" data-bind="text: english_name"></span>
                                </td>
                                <td class="text-right" style="width: 25%">
                                    <span data-bind="text: units() + ' ' + UM()"></span> / <span data-bind="text: SKU"></span>
                                    <br>
                                    $ <span data-bind="text: curr_price"></span> <span data-bind="text: pricing"></span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
        
        </div>
    
    
    
    
    
    
    
    
        <div class="col-md-8">
            <div class="row text-center">
                <div class="col-md-4 h1 text-center">
                    <div class="row">
                        <strong data-bind="text: co_name"></strong>
                        <font color="lightgrey">(公司)</font>
                    </div>
                    <div class="row">
                        <form action="/cogroup/toggle" method="post"><input type="hidden" name="_csrf" value="<%= _csrf %>" />
                            <input type="hidden" name="cogroup" value="<%= cogroup.name %>">
                            <input type="hidden" name="back" value="/cogroup/show/<%= cogroup.name %>">
                            <div class="btn-group">
                                <button data-bind="click: toggleSupplier, attr: {'class': supplierStatus}"> 供應商</button>
                                <button data-bind="click: toggleCustomer, attr: {'class': customerStatus}"> 客戶</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <div class="btn-group-vertical">
                            <a href="/cogroup/show/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-info-sign"></i> <strong>公司,聯絡人,產品訊息</strong></a>
                            <a href="/order/new/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-pencil"></i> <strong>創造一個訂單</strong></a>
                            <a href="/order/showall/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-folder-open"></i> <strong>管理訂單與到期日</strong></a>
                        </div>
                        <div class="btn-group-vertical">
                            <a disabled href="/shipment/new/<%= cogroup.name %>" class="active btn btn-custom"><i class="glyphicon glyphicon-shopping-cart"></i> <strong>創造出貨單</strong></a>
                            <a disabled href="/product/show/<%= cogroup.name %>" class="btn btn-custom"><i class="glyphicon glyphicon-usd"></i> <strong>管理出貨單與發票</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>
            
            
            <div class="row">
                <h2 class="col-md-12 text-center h1">出貨單</h2>
            </div>

            <form action="/shipment/create" method="post" class="form-horizontal">

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group form-group-lg">
                            <label class="col-md-3 control-label">台茂</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="us">
                                    <option value="台茂">台茂</option>
                                    <option value="永茂">永茂</option>
                                    <option value="富茂">富茂</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group form-group-lg">
                            <label class="col-md-3 control-label">客戶</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="them">
                                <% cogroup.branches.forEach(function(branch) { %>
                                <option value="<%= branch.name %>"><%= branch.name %> : <%= branch.tax_id %> : <%= branch.fullname %></option>
                                <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-lg">
                            <label class="col-md-4 control-label">貨單日期</label>
                            <div class="col-md-8 has-success">
                                <input type="date" class="form-control" name="shipmentdate" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group form-group-lg">
                            <label class="col-md-3 control-label">聯 絡 人</label>
                            <div class="col-md-9 has-success">
                                <select class="form-control" name="contact">
                                <% cogroup.contacts.forEach(function(contact) { %>
                                <option value="<%= contact.id %>"><%= contact.position %> : <%= contact.name %> : <%= contact.phone %></option>
                                <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-lg">
                            <label class="col-md-4 control-label">貨單編號</label>
                            <div class="col-md-8 has-success">
                                <input type="text" class="form-control" maxlength="8" placeholder="" name="shipment_no">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-lg">
                            <label class="col-md-2 control-label">送貨地址</label>
                            <div class="col-md-9 has-success">
                                <input type="text" class="form-control" placeholder="" name="shipmentdest">
                            </div>
                        </div>
                    </div>
                </div>



        <table class="table table-condensed">
            <thead class="text-uppercase">
                <tr>
                    <th class="text-center">品 名</th>
                    <th class="text-center">規格/包裝</th>
                    <th class="text-center">件數</th>
                    <th class="text-center">數量</th>
                    <th class="text-center">出貨資訊</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: rows">
                <tr>
                    <td class="text-left" data-bind="text: label"></td>
                    <td class="text-center" data-bind="text: guige"></td>
                    <td class="col-md-2">
                    <div class="input-group has-success">
                        <input type="hidden" name="PO" data-bind="value: id">
                        <input type="hidden" name="price" data-bind="value: price">
                        <input type="hidden" name="is_supply" data-bind="value: is_supply">
                        <input type="hidden" name="MPN" data-bind="value: MPN">
                        <input style="font-size: 18px;" type="number" min=1 size="2" class="form-control text-right" name="qty"  data-bind="textInput: qty, attr: {max: qtymax}" required>
                        <div class="input-group-addon" data-bind="text: jianshu"></div>
                    </div>
                    </td>
                    <td class="text-center" data-bind="text: totalUnits"></td>
                    <td class="text-left" data-bind="text: id_note"></td>
                </tr>
                </tbody>
        </table>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-lg">
                            <label class="col-md-2 control-label">備註</label>
                            <div class="col-md-9 has-success">
                                <input type="text" class="form-control" name="shipmentnote">
                            </div>
                        </div>
                    </div>
                </div>
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <input type="submit" class="btn btn-lg btn-medium btn-success" name="make_po_shipment" value="創造新出貨單">
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="group" value="<%= cogroup.name %>" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
var cogroup = <%- JSON.stringify(cogroup) %>;
var co_name = '<%= cogroup.name %>';
var _csrf = '<%= _csrf %>';
    
function ShipmentItemRow(item) {
    var self = this;
    self.id = item.id || 'default'; // From PO if 'item' is PO
    self.MPN = item.MPN;
    self.is_supply = item.is_supply;
    self.price = item.price || item.curr_price;
    self.label = item.label || item.inventory_name;
    self.sku = item.sku || item.SKU;
    self.guige = item.sku || item.SKU;
    self.qty = ko.observable(item.qty ? item.qty : 'qty error');
    self.qtymax = item.qty ? Number(item.qty) : 10000000;
    self.um = item.um || item.UM;
    self.jianshu = self.sku !== '槽車' ? self.sku : self.um;
    self.id_note = item.id ? item.orderID + ' ' + item.ordernote : item.note;
    self.units = parseFloat(item.units);
    if (self.guige !== '槽車') {
        self.guige = [self.units, self.um, '/', self.guige].join(' ');
    }
    
    self.totalUnits = ko.computed(function () {
        var val = parseInt(self.qty()) * self.units;
        if (!isNaN(val)) {
            return val.toString() + ' ' + self.um;
        } else {
            return '0 ' + self.um;
        }
    });
}

function ItemsModel() {
    var self = this;
    
    self.po_tab = ko.observable(true);
    self.prod_tab = ko.observable(false);
    
    self.toggleTab = function (whatami) {
        self.po_tab(!self.po_tab());
        self.prod_tab(!self.prod_tab());
        
        for (var i=0; i<self.orders().length; i++) {
            self.orders()[i].selected(false);
        }
        for (var i=0; i<self.products().length; i++) {
            self.products()[i].selected(false);
        }
    };
    
    
    self.products = ko.observableArray();
    self.productsGet = function () {
        params = {
            _csrf: _csrf, 
            id: co_name,
        };
        callback = function (products) {
            self.products.removeAll();
            for (var i=0; i<products.length; i++) {
                if (!products[i].discontinued) {
                    self.products.push(new KO_Product(products[i]));
                }
            }
        };
        getProducts(params, callback);
    };
    self.productsGet();
    
    
    
    
    self.orders = ko.observableArray();
    self.ordersGet = function () {
        params = {
            _csrf: _csrf, 
            id: co_name,
        };
        callback = function (orders) {
            self.orders.removeAll();
            for (var i=0; i<orders.length; i++) {
                if (orders[i].is_open) {
                    self.orders.push(new KO_PurchaseOrder(orders[i].MPN, orders[i]));
                }
            }
        };
        getOrders(params, callback);
    };
    self.ordersGet();
    
    
    self.rows = ko.observableArray([]);
    
    var selectCompute = ko.computed(function () {
        self.rows.removeAll()
        for (var i=0; i<self.orders().length; i++) {
            if (self.orders()[i].selected()) {
                self.rows.push(new ShipmentItemRow(ko.toJS(self.orders()[i])));
            }
        }
        for (var i=0; i<self.products().length; i++) {
            if (self.products()[i].selected()) {
                self.rows.push(new ShipmentItemRow(ko.toJS(self.products()[i])));
            }
        }
    });
    
    
    /**
     * COGROUP section controls
     * 
     * 
     */
    self.cogroup = new KO_Cogroup(cogroup);
    
    self.supplierStatus = ko.computed(function () {
        return self.cogroup.is_supplier() === true ? "glyphicon glyphicon-ok btn btn-success" : "glyphicon glyphicon-remove btn btn-danger";
    });
    
    self.customerStatus = ko.computed(function () {
        return self.cogroup.is_customer() === true ? "glyphicon glyphicon-ok btn btn-success" : "glyphicon glyphicon-remove btn btn-danger";
    });
    
    self.toggleCustomer = function () {
        self.cogroup.is_customer(!self.cogroup.is_customer());
        self.cogroupUpdate();
    };
    self.toggleSupplier = function () {
        self.cogroup.is_supplier(!self.cogroup.is_supplier());
        self.cogroupUpdate();
    };
                
    self.cogroupUpdate = function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState !== 4) return;
            
        };
        xmlhttp.open('POST', '/cogroup/update', true);
        xmlhttp.setRequestHeader('Content-type', 'application/json');
        xmlhttp.send(ko.toJSON({
            _csrf: _csrf, 
            cogroup_update: self.cogroup
        }));
    };
}

ko.applyBindings(new ItemsModel());

</script>