<div class="panel panel-success" style="height: 100%; margin: 0px">
    <div class="panel-heading">
        <div class="panel-title">
            <label>台茂分公司:</label>
            <select data-bind="value: tm_branch">
                <option value="台茂">台茂化工儀器原料行</option>
                <option value="富茂">富茂工業原料行</option>
                <option value="永茂">永茂企業行</option>
            </select>
            <label>買主分公司:</label>
            <select data-bind="foreach: branchesArray, value: buyer_branch">
                <option data-bind="attr: {value: fullname}, text: fullname"></option>
            </select><br>
            <label>聯絡人:</label>
            <select data-bind="options: contactsArray, optionsText: 'name', value: contact_selection"></select>
            <input class="checkbox-lg" type="checkbox" data-bind="checked: xiansheng">先生
            <input class="checkbox-lg" type="checkbox" data-bind="checked: xiaojie">小姐
            (<input class="checkbox-lg" type="checkbox" data-bind="checked: include_position"> 表示職位)
            <br>
            <input class="checkbox-lg" type="checkbox" data-bind="checked: show_unknown_amt"> 表示未決定的槽車
        </div>
    </div>
    <div class="panel-body">
        <iframe id="shipment-pdf-frame" type="application/pdf"
                width="100%" height="550px" frameborder="10">
        </iframe>
    </div>
    <div class="panel-footer lightorange-blend">
        <label>Font size:</label>
        <input type="number" size="3" data-bind="value: font_size">
    </div>
</div>

<script>

var tm_branch = ko.observable(<%- JSON.stringify(items) %>[0].seller);
var font_size = ko.observable(14);


var branchesArray = ko.observableArray(
    <%- res.locals.cogroup ? JSON.stringify(cogroup.branches) : "[]" %>
);
var buyer_branch = ko.observable(<%- JSON.stringify(items) %>[0].buyer);

var contactsArray = ko.observableArray(
    <%- res.locals.cogroup ? JSON.stringify(cogroup.contacts) : "[]" %>
);
contactsArray.unshift({name:'', position:'', phone:'', cell:''});
var contact_selection = ko.observable({name:'', position:'', phone:'', cell:''}),
    include_position = ko.observable(true),
    xiansheng = ko.observable(false),
    xiaojie = ko.observable(false);

var shipment_no = ko.observable("<%= shipment_no %>");

var show_unknown_amt = ko.observable(false);


ko.computed(function () {
    draw_PDF();
});

function draw_PDF() {
    'use strict';
    // Can we set height 140mm?
    var doc = new jsPDF('p', 'mm');
    var items = <%- JSON.stringify(items) %>;

    doc.setFont('Times', 'Roman');
    /**
     * Add non-ASCII printing function
     */
    doc.alttext = nonASCIItext;


    /**
     * Display a light grey grid for designing layout
     */
    if (false) {
        doc.setDrawColor(200);
        doc.setTextColor(200,200,200);
        for (var i=0; i<50; i++) {
            doc.rect(0,i*10,300,10);
            doc.text(0,i*10, (i*10).toString());
            doc.rect(i*10,0,10,300);
            doc.text(i*10,5, (i*10).toString());
        }
        doc.setDrawColor(0);
        doc.setTextColor(0,0,0);
    }

    var tm = {
        '台茂':'台茂化工儀器原料行',
        '富茂':'富茂工業原料行',
        '永茂':'永茂企業行'
    }


    var scale = 0.30;
    doc.addImage(taimauLogoSmallURI, 'JPEG', 125, 6, 43*scale, 43*scale);
    doc.alttext(137, 12, tm[tm_branch()], parseInt(font_size())+3);
    doc.alttext(138, 18, '電話: 07-3517110', font_size());
    doc.alttext(10, 15, '出 貨 單', parseInt(font_size())+4);

    doc.alttext(10, 26, '客戶名稱: ' + buyer_branch(), font_size());
    var contact_str = contact_selection().name;
    if (xiansheng()) {
        contact_str = contact_str.slice(0,1) + '先生';
    }
    if (xiaojie()) {
        contact_str = contact_str.slice(0,1) + '小姐';
    }
    if (include_position() && contact_selection().position) {
        contact_str = contact_str + ' (' + contact_selection().position + ')';
    }
    doc.alttext(10, 32, '聯  絡  人: ' + contact_str, font_size());
    var phone_str = contact_selection().cell || contact_selection().phone;
    doc.alttext(10, 38, '連絡電話: ' + phone_str, font_size());

    doc.alttext(130, 32, '單據日期: ' + items[0].shipmentdate.substring(0,10), font_size());
    doc.alttext(130, 38, '單據號碼: ' + shipment_no(), font_size());

    var head_yoffset = 48;
    doc.alttext(15, head_yoffset, '序號', font_size());
    doc.alttext(32, head_yoffset, '訂單號碼', font_size());
    doc.alttext(70, head_yoffset, '品名', font_size());
    doc.alttext(160, head_yoffset, '數量', font_size());
    doc.alttext(180, head_yoffset, '單位', font_size());

    var list_yoffset = 55;
    for (var i=0; i<items.length; i++) {
        var item = items[i],
            y = list_yoffset+6*i;
        doc.alttext(15, y, (i+1).toString(), font_size());
        doc.alttext(32, y, item.orderID, font_size());
        doc.alttext(70, y, item.product_label ? item.product_label : item.inventory_name, font_size());

        if (show_unknown_amt() && ['槽車','kg'].indexOf(item.SKU) >= 0) {
            doc.alttext(160, y, '詳磅單', font_size());
        } else {
            doc.alttext(160, y, item.qty.toString(), font_size());
        }
        doc.alttext(180, y, item.units == 1 ? item.UM : item.SKU, font_size());
    }

    // Signature area for receiver, driver and office bookkeeping
    var sig_offset = 106;
    doc.alttext(12, sig_offset, '客戶簽收', font_size());
    doc.alttext(72, sig_offset, '司機', font_size());
    doc.alttext(132, sig_offset, '備註', font_size());

    // Page lines and borders
    doc.setFillColor(200);
    doc.rect(10, head_yoffset+1, 190, 0.5, 'F');
    doc.rect(10, 100, 190, 0.5, 'F');
    doc.rect(70, 100, 0.5, 15, 'F');
    doc.rect(130, 100, 0.5, 15, 'F');


    var pp = document.getElementById('shipment-pdf-frame');
    pp.src = doc.output('bloburi');
};
</script>
