<!--List view of all shipments-->
<div id="this body" class='container-fluid'>
<!--vvv START: Company header and buttons vvv-->
<%- partial ('../company_header.ejs') %>
<!--^^^ END: Company header and buttons ^^^-->
<hr>
<!--START: List view of shipments-->
<div data-bind="with: pageVM">
    <div>
        <div class="panel panel-success" style="margin: 0px">
            <div class="panel-heading" style="padding: 0px">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="h4" style="margin: 0px">Shipments</span>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-success" data-bind="click: clearSelections">Clear Selections <span class="badge">Esc</span></button>
                        <button class="btn btn-success" data-bind="click: openInvoiceModal">Create Invoice <span class="badge">Enter</span></button>
                    </div>
                    <div class="col-xs-3">
                        <div class="input-group">
                            <div class="input-group-addon">紀錄數量</div>
                            <input class="form-control" type="number" data-bind="textInput: recordLimit">
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="panel-body" style="padding: 0px">
                <table class="table table-striped">
                    <thead>
                        <th class="text-center">訂單編號 <span class="badge">ID#</span></th>
                        <th class="text-center">出貨日期</th>
                        <th class="text-center">出貨單編號 <span class="badge">ID#</span></th>
                        <th class="text-center">選</th>
                        <th class="text-center">QTY</th>
                        <th class="text-center">產品/服務</th>
                        <th class="text-center">發票編號 <span class="badge">ID#</span></th>
                    </thead>
                    <tbody data-bind="foreach: shipmentsItems">
                        <tr>
                            <td style="padding: 3px 3px" class="text-center"><a style="padding: 2px 10px" class="btn btn-custom" data-bind="attr: {href: '/order/show/' + order_id}"><strong data-bind="text: orderID"></strong> <span class="badge" data-bind="text: order_id"></span></a></td>
                            <td style="padding: 3px 3px" class="text-center"><span data-bind="text: date"></span></td>
                            <td style="padding: 3px 3px" class="text-center"><a style="padding: 2px 10px" class="btn btn-custom" data-bind="attr: {href: '#'}"><strong data-bind="text: shipment_no"></strong> <span class="badge" data-bind="text: shipmentitem_id"></span></a></td>
                            <td style="padding: 3px 3px; width: 30px">
                                <input style="margin: 0px; width:26px; height:26px; vertical-align: top;" type="checkbox" name="purchaseorder" data-bind="checked: selected">
                            </td>
                            <td style="padding: 3px 3px" class="text-right"><span data-bind="text: qty"></span> <span data-bind="text: countUnit"></span></td>
                            <td style="padding: 3px 3px"><span data-bind="text: inventory_name"></span></td>
                            <td style="padding: 3px 3px" class="text-center" data-bind="if: invoice_no != undefined"><button style="padding: 2px 10px" class="btn btn-custom"><strong data-bind="text: invoice_no"></strong> <span class="badge" data-bind="text: invoiceitem_id"></span></button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!--END: List view of shipments-->
    
    
<%- partial ('../invoice/modal.ejs') %>
    
    
</div><!--END: container-fluid-->


<script>
var cogroup = <%- JSON.stringify(cogroup) %>;
var co_name = viewModel.co_name = '<%= cogroup.name %>';
addCompanyNavButtons(co_name);
var _csrf = '<%= _csrf %>';
    

var key = {
    ESC: 27,
    ENTER: 13,
    PLUS: 43
};
    
function PageModel() {
    var self = this;
    
    self.recordLimit = ko.observable(80);
    
    /**
     * SHIPMENT methods
     */
    self.shipments = ko.observableArray();
    self.shipmentsItems = ko.observableArray();
    
    self.clearSelections = function() {
        for (var i=0; i<self.shipmentsItems().length; i++) {
            self.shipmentsItems()[i].selected(false);
        }
    };
    
    self.openInvoiceModal = function() {
        var items = [];
        for (var i=0; i<self.shipmentsItems().length; i++) {
            var si = self.shipmentsItems()[i];
            if (si.selected() && si.invoiceitem_id == null) {
                console.log(si);
                items.push(si);
            }
        }
        viewModel.invoiceModalVM.showModal(items);
    };
    
    document.onkeydown = function(evt) {
        // Exit any modal if displayed.
        if (evt.keyCode == key.ESC) {
            if (viewModel.invoiceModalVM.isVisible()) viewModel.invoiceModalVM.exitModal();
            else self.clearSelections();
        }
        // Enter the normal shipment form.
        if (evt.keyCode == key.ENTER) {
            if (viewModel.invoiceModalVM.isVisible()) return true;
            else self.openInvoiceModal();
        }
    };
    
    
    
    self.getShipmentsArray = function() {
        params = {
            _csrf: _csrf, 
            id: co_name,
            limit: Number(self.recordLimit()),
        };
        post('/database/get/shipmentitems', params, function(response) {
//            console.log(response);
            
            self.shipmentsItems.removeAll();
            for (var i=0; i<response.length; i++) {
                self.shipmentsItems.push(new KO_ShipmentListRow(response[i]));
            }
        });
    };
//    self.getShipmentsArray();
    
    ko.computed(function () {
        var val = Number(self.recordLimit());
        if (isNaN(val)) return;
        else self.getShipmentsArray();
    });
}

viewModel.pageVM = new PageModel();
ko.applyBindings(viewModel, document.getElementById('this body'));
</script>